<div id="about">
  <!-- header -->
  <header class="animated fadeIn">
    <div du-parallax y="background" class="headerImage" />
      <div class="secondBg"></div>
    </div>

    <div class="titleWrapper">
      <h1 class="title"><span class="thin">About</span></h1>
    </div>
  </header>

  <!-- about -->
  <div class="contentWrapper">
    <section class="about">
      <div class="container">
        <div class="row">
          <div class="col-md-4 socialAndSelfie text-center">
            <img src="../images/mom-shrunk.png" class="img-responsive maaam" alt="Wendy Quaccia">
            <b>Wendy Caron Quaccia</b>
            <p>
              Professional Organizer<br>
              Home and Small Business
            </p>
            <!-- <div class="social">
              <a href="https://www.facebook.com/simplyput.yourway" target="_blank">
                <div class="social-icon one">
                  <i class="fa fa-facebook"></i>
                </div>
              </a>
              <a href="https://twitter.com/SmplyPutYourWay" target="_blank">
                <div class="social-icon two">
                  <i class="fa fa-twitter"></i>
                </div>
              </a>
              <a href="https://www.pinterest.com/craftideas88" target="_blank">
                <div class="social-icon one">
                  <i class="fa fa-pinterest-p"></i>
                </div>
              </a>
              <a href="https://www.linkedin.com/in/wendyquaccia" target="_blank">
                <div class="social-icon two">
                  <i class="fa fa-linkedin"></i>
                </div>
              </a>
            </div> -->
          </div>
          <div class="col-md-8">
            <h1 class="jill">“Jill” of All Trades…</h1>

            <div class="separator small"></div>

            <p>Over the years, I have worn many hats supporting a variety of jobs, gaining skills and utilizing my talents along the way, which has ultimately secured my decision to become a professional organizer.  To date, my journey has included many upper level positions such as Executive Administrator, Administrative Assistant, Office Manager, Department Manager, Events Manager, Project Manager, and Contract Manager.  In addition, an array of other titles such as Receptionist, Customer Service, Travel Agent and Animal Behavior Consultant need to also be mentioned.  I am the mother of 2 wonderful boys and have been happily married for 30 years.  Participating in my boy’s childhood activities invited me to become a Cub Scout Den Leader, Team mom for soccer and baseball as well as a caregiver within my own family home daycare program.  Today, I love the outdoors, photography, crafts, gardening and my furry family members.  Can you see where I was headed all along?</p>
            <p>Details, keeping things in order and offering simpler ways to achieve better results have always been what I have been most proud of.  With many years invested in producing how-to manuals and simple forms, I've learned to carefully listen to what is needed in order to remedy a particular situation. My reward at the end of the day is to know that I have helped someone or someplace operate a little smoother.  Through the years, I have been employed with the following local companies:</p>
            <p>
              <b>Associated Learning & Language Specialists, Inc. (ALLS)</b><br>
              Redwood City, CA<br>
              <br>
              <b>Palo Alto Chamber of Commerce</b><br>
              Palo Alto, CA<br>
              <br>
              <b>American Express Travel</b><br>
              Los Altos, CA<br>
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>