<div id="about">
  <!-- header -->
  <header class="animated fadeIn">
    <div du-parallax y="background" class="headerImage" />
      <div class="secondBg"></div>
    </div>

    <div class="titleWrapper">
      <h1 class="title"><span class="thin">About</span></h1>
    </div>
  </header>

  <!-- about -->
  <div class="contentWrapper">
    <section class="about">
      <div class="container">
        <div class="row">
          <div class="col-md-4 socialAndSelfie text-center">
            <img src="../images/mom-shrunk.png" class="img-responsive maaam" alt="Wendy Quaccia">
            <b>Wendy C. Quaccia</b>
            <p>Professional Home Organizer</p>
            <!-- <div class="social">
              <a href="https://www.facebook.com/simplyput.yourway" target="_blank">
                <div class="social-icon one">
                  <i class="fa fa-facebook"></i>
                </div>
              </a>
              <a href="https://twitter.com/SmplyPutYourWay" target="_blank">
                <div class="social-icon two">
                  <i class="fa fa-twitter"></i>
                </div>
              </a>
              <a href="https://www.pinterest.com/craftideas88" target="_blank">
                <div class="social-icon one">
                  <i class="fa fa-pinterest-p"></i>
                </div>
              </a>
              <a href="https://www.linkedin.com/in/wendyquaccia" target="_blank">
                <div class="social-icon two">
                  <i class="fa fa-linkedin"></i>
                </div>
              </a>
            </div> -->
          </div>
          <div class="col-md-8">
            <h1 class="jill">Note from Wendy…</h1>

            <div class="separator small"></div>

            <p>Details, keeping things in order and offering simpler ways to achieve better results have always been what I have been most proud of over my 30 years in the field of administration. Today, as a professional organizer, I enjoy assisting people in the break-down of their projects by lending the hand of a buddy. Deciding where to begin, talking through the process, listening and assisting with hard decisions of whether to keep or discard items offers a sense of calm to the task. Likewise, opening up space immediately by removing donation and other discarded items allows for instant gratification. My reward at the end of the day is to know that I have helped to make someone’s life run a little smoother.</p>
            <p>As a native of San Carlos, I am passionate about the Bay Area and understand what it takes to live here. Life can sometimes get ahead of all of us, keeping obvious tasks such as organizing our belongings on a distant list of “should do.” When things get out of hand and you need some help to get you started and motivated to continue, please reach out to me.</p>
            <p>Happy organizing! Make it fun, get excited and envision your space in a more open and usable way. When you do, you’ll have more time to enjoy what you like to do most.</p>
            <!-- <p>
              <b>Associated Learning & Language Specialists, Inc. (ALLS)</b><br>
              Redwood City, CA<br>
              <br>
              <b>Palo Alto Chamber of Commerce</b><br>
              Palo Alto, CA<br>
              <br>
              <b>American Express Travel</b><br>
              Los Altos, CA<br>
            </p> -->
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
