<div id="contact">
  <!-- header -->
  <header>
    <div du-parallax y="background" class="headerImage" />
      <div class="secondBg"></div>
    </div>

    <div class="titleWrapper">
      <h1 class="title"><span class="thin">Contact</span></h1>
    </div>
  </header>

  <div class="contentWrapper">
    <section class="contact">
      <div class="container-fluid topHalf">
        <div class="row">
          <div class="col-md-12">
            <img src="https://static.wixstatic.com/media/0832c6_8c59d9f4906441e99722116065ef90b1.jpg/v1/fill/w_510,h_342,al_c,q_80,usm_0.66_1.00_0.01/0832c6_8c59d9f4906441e99722116065ef90b1.webp" class="img-responsive gardenUtencils" alt="Gardening Utencils">
            <h1 class="text-center">When You're Ready for some help</h1>

            <div class="separator small"></div>

            <p class="contactText">
              Wendy Caron Quaccia<br>
              San Carlos, CA 94070<br>
              info@simplyputyourway.net<br> 
              ​​Tel: 650-746-4226
            </p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row formWrapper">
          <div class="col-md-12">
            <div class="bottomHalf">
              <p>Need some help to organize your home or small business and reduce the stress in your life?  When it's time to redefine how your space is used, gain productivity and decide what components are important, I'm here to help.</p>

              <form id="contactForm">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" class="form-control">
                </div>
                <div class="form-group">
                  <label>Subject</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label>Message</label>
                  <textarea rows="7" class="form-control"></textarea>
                </div>
                <button class="btn btn-primary">Send</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>