<div id="donations">
  <!-- header -->
  <header class="animated fadeIn">
    <div du-parallax y="background" class="headerImage" />
      <div class="secondBg"></div>
    </div>

    <div class="titleWrapper">
      <h1 class="title"><span class="thin">Donations</span></h1>
    </div>
  </header>

  <div class="contentWrapper">
    <!-- where to donate? -->
    <section class="whereToDonate">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 whereToDonateHeader">
            <div class="text-center">
              <h3>Where to Donate?</h3>
              <p>It's easier to release your things into the world when you know of a charity that speaks to your heart</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Charities Help in Many Ways</h1>

            <div class="separator small"></div>

            <img src="../images/oneWarmCoat.webp" class="img-responsive" alt="One Warm Coat">
            <p>One warm coat accepts clean and gently used coats and jackets.  Aside from annual organized coat drives in the fall and winter months, there are several local agencies that will gladly accept your donation. <a href="http://www.onewarmcoat.org" target="_blank">www.onewarmcoat.org</a></p>

            <img src="../images/raft.webp" class="img-responsive" alt="Raft Resource Area For Teaching">
            <p>Teachers are always looking to make their classroom the best it can be on a small budget.  Raft repurposes left over items in good, clean condition at a fraction of the cost of buying them new.  Locations in Redwood Shores, Sunnyvale and San Jose.  Check their website for items they accept and what they cannot accept. <a href="http://www.raftbayarea.org" target="_blank">www.raftbayarea.org</a></p>

            <img src="../images/innVision.png" class="img-responsive" alt="Inn Vision Shelter Network">
            <p>New and gently-used items are given directly to homeless families and individuals in the program to help them return to permanent housing and ongoing self-sufficiency.  There are several Bay Area locations that accept donations, such as San Mateo, Menlo Park, Palo Alto and San Jose.  Visit their website for items in need and also items that are not accepted. <a href="http://www.shelternetwork.org/donate" target="_blank">www.shelternetwork.org/donate</a></p>

            <img src="../images/phs.gif" class="img-responsive" alt="Peninsula Humane Society & SPCA">
            <p>Donate needed items directly to the PHS shelter in San Mateo to help the animals there.  A wish list can be found on their website at <a href="http://www.peninsulahumanesociety.org/donate/wishlist.html">www.peninsulahumanesociety.org/donate/wishlist.html</a> Alternatively, you may forward your donations to The Pick, a thrift store in Burlingame operated by The Peninsula Humane Society &amp; SPCA.  All proceeds directly benefit the shelter animals.  Amongst the list of items accepted are furniture, housewares, clothing and more.  Visit their website for a complete list or to schedule a furniture pick-up. <a href="http://www.peninsulahumanesociety.org/services/store.html">www.peninsulahumanesociety.org/services/store.html</a></p>

            <img src="../images/salvationArmy.webp" class="img-responsive" alt="The Salvation Army">
            <p>The Salvation Army accepts furniture, appliances, mattresses, household goods, clothing and even vehicles.  Items must be in good, working condition and may not be accepted if stained.  You'll find a value guide on their website to help in determining an approximate tax-deductible value of some commonly donated items.  Call to schedule a free pick-up in your area. <a href="http://www.salvationarmy.org/">www.salvationarmy.org</a></p>

            <img src="../images/marissasCloset.webp" alt="Marissa's Closet" class="img-responsive">
            <p>Among the items accepted are gently used prom and formal dresses as well as any age professionally preserved wedding gown.
            Melissa's Closet strives to see that every girl that needs a dress will have one.  With several drop-off locations, your donation can make a difference in the life of a young lady and so much more. <a href="http://www.marissascloset.org" target="_blank">www.marissascloset.org</a></p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>