<div id="donations">
  <!-- header -->
  <header class="animated fadeIn">
    <div du-parallax y="background" class="headerImage" />
      <div class="secondBg"></div>
    </div>

    <div class="titleWrapper">
      <h1 class="title"><span class="thin">Donations</span></h1>
    </div>
  </header>

  <div class="contentWrapper">
    <!-- where to donate? -->
    <section class="whereToDonate">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 whereToDonateHeader">
            <div class="text-center">
              <h3>Where to Donate?</h3>
              <p>It's easier to release your things into the world when you know of a charity that speaks to your heart</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container charities">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Charities Help in Many Ways</h1>

            <div class="separator small"></div>

            <div class="row">
              <div class="col-md-6">
                <img src="../images/logo_life_moves_1.jpg" class="img-responsive" alt="Inn Vision Shelter Network">
                <p>"Breaking the Cycle of Homelessness," formerly InnVision Shelter Network. New and gently-used items are given directly to homeless families and individuals in the program to help them return to permanent housing and ongoing self-sufficiency.  There are several Bay Area locations that accept donations, such as San Mateo, Menlo Park, Palo Alto and San Jose.  Visit their website for items in need and also items that are not accepted. <a href="http://lifemoves.org">Read More</a></p>
              </div>
              <div class="col-md-6">
                <img src="../images/phs.gif" class="img-responsive" alt="Peninsula Humane Society & SPCA">
                <p>Donate needed items directly to the PHS shelter in San Mateo to help the animals there.  A wish list can be found on their website <a href="http://www.peninsulahumanesociety.org/donate/wishlist.html">here</a>. Alternatively, you may forward your donations to The Pick, a thrift store in Burlingame operated by The Peninsula Humane Society &amp; SPCA.  All proceeds directly benefit the shelter animals.  Amongst the list of items accepted are furniture, housewares, clothing and more.  Visit their website for a complete list or to schedule a furniture pick-up. <a href="http://www.peninsulahumanesociety.org/services/store.html">Read More</a></p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <img src="../images/salvation-army.png" class="img-responsive salvationArmy" alt="The Salvation Army">
                <p>The Salvation Army accepts furniture, appliances, mattresses, household goods, clothing and even vehicles.  Items must be in good, working condition and may not be accepted if stained.  You'll find a value guide on their website to help in determining an approximate tax-deductible value of some commonly donated items.  Call to schedule a free pick-up in your area. <a href="http://www.salvationarmy.org/">Read More</a></p>
              </div>
              <div class="col-md-6">
                <img src="../images/Goodwill_Industries_Logo.svg-min.png" alt="Goodwill Industries" class="img-responsive marissasCloset">
                <p>Examples of accepted items include gently used clothing, household goods, bedding and small appliances in working order. Wedding dresses accepted! Some locations accept furniture donations. <a href="https://sfgoodwill.org/donate/donate-goods">Read More</a></p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 donations-one-warm-coat-wrapper">
                <img src="../images/one-warm-coat.png" class="img-responsive" alt="One Warm Coat">
                <p>One warm coat accepts clean and gently used coats and jackets.  Aside from annual organized coat drives in the fall and winter months, there are several local agencies that will gladly accept your donation. <a href="http://www.onewarmcoat.org">Read More</a></p>
              </div>
              <!-- <div class="col-md-6">
                <img src="../images/raft.png" class="img-responsive" alt="Raft Resource Area For Teaching">
                <p>Teachers are always looking to make their classroom the best it can be on a small budget.  Raft repurposes left over items in good, clean condition at a fraction of the cost of buying them new.  Locations in Redwood Shores, Sunnyvale and San Jose.  Check their website for items they accept and what they cannot accept. <a href="http://www.raftbayarea.org">Read More</a></p>
              </div> -->
            </div>

            <div class="textile-recycling-bin-title-img-wrapper">
              <h1>Textile Recycling Bins</h1>
              <img class="textile-recycling-bin-images" src="../images/CLOTHES & SHOES.jpg" alt="Clothes and Shoes">
              <img class="textile-recycling-bin-images" src="../images/green-bin.jpg" alt="Clothes and Shoes">
            </div>
            <p class="textile-recycling-bin-paragraph">When clothes and shoes are too worn to donate to charity, there are collection boxes located within communities to keep them out of our landfill.  Organizations such as <a target="_blank" href="https://www.recycleforchange.org/clothes-collection">Recycle for Change</a> offer the power to preserve a significant amount of resources by reusing and recycling textiles through this convenient solution.  Other textile recycling companies such as <a target="_blank" href="https://texgreenteam.com">TexGreen</a> also remind us that damaged clothes and linens should no longer be considered as garbage.  Efforts such as these can help to keep our planet sustainable.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
