<div id="home">
  <!-- header -->
  <header class="animated fadeIn">
    <div du-parallax y="background" class="headerImage" />
      <div class="secondBg"></div>
    </div>

    <div class="titleWrapper">
      <!-- <h1 class="title"><span class="thin">Simply Put</span><br><span class="fat">Your Way</span></h1> -->
      <img class="home__logo" src="../images/SIMPLY_PUT_YOUR_WAY_CMYK.png" alt="">
    </div>
  </header>

  <!-- about -->
  <div class="contentWrapper">
    <div class="container">
      <section class="about">
        <div class="titleBlurb">
          <h1>Changing Lives through Organizing, One <br class="mobile-only"> Room at a Time</h1>
          <h4>Specializing in helping you through the process</h4>
        </div>

        <div class="separator small"></div>

        <div class="row">
          <div class="col-md-12">
            <p>By transferring my skills to you, I am rewarded by helping you to sort and identify which possessions make you happy and which are no longer important in your life. By scheduling time to work through this process, you will reduce stress, reclaim your freedom and enjoy your surroundings.</p>
          </div>
        </div>
      </section>
    </div>

    <!-- services -->
    <div class="container-fluid spacerImageWrapper">
      <section class="services">
        <div class="row coloredBg">
          <div class="col-md-12">
            <div class="whiteWrapper">
              <h1 class="text-center createPeace">Create peace by making your house a home.</h1>
              <h4 class="text-center">Plan time to clear clutter, start enjoying your space and be free to do the things you love.</h4>
              <div class="separator small"></div>
            </div>

            <div class="row">
              <div class="col-lg-4">
                <div class="pillWrapper one">
                  <h4>Areas I enjoy working with</h4>

                  <ul>
                    <li>Residential Homes</li>
                    <li>Home Offices</li>
                    <li>Closet Organization</li>
                    <li>Kitchens &amp; Pantries</li>
                    <li>Prepare for a Move</li>
                    <li>Downsizing</li>
                  </ul>
                </div>

                <!-- <div class="card right">
                  <div class="card-header">
                    <i class="ion-ios-briefcase-outline"></i>
                    <h3>Areas I enjoy working with</h3>
                  </div>
                  <div class="card-body">
                    <ul>
                      <li>Residential Homes</li>
                      <li>Small Business Offices</li>
                      <li>Time &amp; Project Management</li>
                      <li>Closet Organization</li>
                      <li>Kitchens &amp; Pantries</li>
                      <li>Rooms of Every Kind</li>
                      <li>Downsizing</li>
                      <li>Prepare for a Move</li>
                    </ul>
                  </div>
                </div> -->
              </div>
              <div class="col-lg-4">
                <div class="flowerWrapper">
                  <img src="../images/Single Red Flower-shrunk.jpg" class="redFlower" alt="Red Flower">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="pillWrapper">
                  <h4>Together, we'll create solutions through</h4>

                  <ul>
                    <li>Storage Ideas</li>
                    <li>Talking Through the Process</li>
                    <li>Resources &amp; Input</li>
                    <li>Strategies</li>
                    <li>Consolidation</li>
                    <li>Space Planning</li>
                  </ul>
                </div>

                <!-- <div class="card">
                  <div class="card-header">
                    <i class="ion-thumbsup"></i>
                    <h3>Together, we'll create solutions to keep things running smoothly at home and at work by</h3>
                  </div>
                  <div class="card-body">
                    <ul>
                      <li>Resources &amp; Input</li>
                      <li>Strategies</li>
                      <li>Storage Ideas</li>
                      <li>Talking Through the Process</li>
                    </ul>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- testimonials -->
    <!-- desktop -->
    <div class="container-fluid spacerImageWrapper desktopYesFlickity">
      <section class="testimonials">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Five Star Testimonials</h1>

            <div class="separator small"></div>

            <div class="main-gallery" bc-flickity="{{flickityOptions}}" id="myCustomId">
              <div class="gallery-cell" ng-repeat="testimonial in testimonials">
                <div class="testimonial">
                  <img src="{{testimonial.image}}" alt="" class="testimonial-avatar" />
                  <h3 class="testimonial-title">{{testimonial.title}}</h3>
                  <q class="testimonial-quote">{{testimonial.review}}</q>
                  <span class="testimonial-author">{{testimonial.name}}, {{testimonial.city}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- testimonials -->
    <!-- mobile -->
    <div class="container-fluid spacerImageWrapper mobileNoFlickity">
      <section class="testimonials">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Five Star Testimonials</h1>

            <div class="separator small"></div>

            <i class="ion-ios-arrow-left" ng-click="prev();"></i>
            <i class="ion-ios-arrow-right" ng-click="next();"></i>

            <div class="main-gallery" id="myCustomId">
              <div class="gallery-cell">
                <div class="testimonial">
                  <img src="{{mobileTestimonial.image}}" alt="" class="testimonial-avatar" />
                  <h3 class="testimonial-title">{{mobileTestimonial.title}}</h3>
                  <q class="testimonial-quote">{{mobileTestimonial.review}}</q>
                  <span class="testimonial-author">{{mobileTestimonial.name}}, {{mobileTestimonial.city}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="container-fluid spacerImageWrapper">
      <div du-parallax y="spacerImage" class="spacerImage desktop" /></div>
      <img src="../images/Shelf Life.jpg" class="forMobile img-responsive" alt="">
    </div>

    <!-- companies -->
    <div class="container-fluid spacerImageWrapper">
      <section class="companies">
        <div class="row">
          <div class="col-md-12 companies text-center">
            <h1>Member of</h1>

            <div class="separator small"></div>

            <a href="https://www.napo-sfba.org/">
              <img src="./images/NAPO-SANFRAN-chapter-01.jpg" alt="Remoov" class="img-responsive">
            </a>
            <a ui-sref="virtual-organizing">
              <img src="./images/virtual-organizing-min.jpg" alt="Remoov" class="img-responsive">
            </a>
            <a href="https://sancarloschamber.org">
              <img src="./images/sc-chamber.jpg" alt="San Carlos Chamber of Commerce" class="img-responsive">
            </a>
          </div>
        </div>
      </section>
    </div>

    <!-- pinterest -->
    <div class="container-fluid spacerImageWrapper">
      <section class="pinterest">
        <div class="row">
          <div class="col-md-12">
            <div class="text-center pinterestTitleWrapper">
              <h1>Recent Pins</h1>
              <h4>select a board:</h4>

              <div class="separator small"></div>

              <ul class="boards">
                <li id="itsYourSpace" class="active">It's Your Space</li>
                <li id="repurposeIt">Repurpose It</li>
                <li id="redecorate">Redecorate</li>
              </ul>
            </div>

            <div masonry='{"columnWidth": "section.pinterest .grid-sizer", "gutter": "section.pinterest .gutter-sizer", "itemSelector": "section.pinterest .item"}' class="masonry">
              <div class="grid-sizer"></div>
              <div class="gutter-sizer"></div>

              <div masonry-tile ng-repeat="pin in currentBoard | limitTo:15">
                <div class="item">
                  <a href="{{pin.url}}" target="_blank">
                    <img src="{{pin.image.original.url}}" alt="Pin" />
                    <div class="textWrapper">
                      <h3>{{pin.metadata.article.name}}</h3>
                      <p class="pinNote">{{pin.note}}</p>
                      <em>{{pin.created_at | date:'MMM d, yyyy'}}</em>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
