<div id="home">
  <header>
    <div du-parallax y="background" class="headerImage" /></div>
    <div class="titleWrapper">
      <h1 class="title"><span class="thin">Simply Put</span><br><span class="fat">Your Way</span></h1>
    </div>
  </header>
  
  <section class="content">
    <div class="container">
      <h1>Achieving Serenity One Space at a Time</h1>
      <h4>Together, we can develop a plan that makes sense for you so you can re-establish your life</h4>
      <div class="row">
        <div class="col-md-4">
          <img src="https://static.wixstatic.com/media/0832c6_a7611f6a20dd416fa1005803e7ef9159~mv2.jpg/v1/fill/w_672,h_504,al_c,lg_1,q_80/0832c6_a7611f6a20dd416fa1005803e7ef9159~mv2.webp" class="img-responsive" alt="">
          <br>
          <blockquote>
            Clutter doesn't just take over your space, it can take over your life<br><br>
            <footer>Schedule time to make sense of it all and get back to having a social life</footer>
          </blockquote>

          <blockquote>
            <q>There's nothing like the feeling of being in control with an organized house.  Wendy has helped me to accomplish this by listening and understanding what works best for my needs.</q>
            <footer>Pam J., Menlo Park, CA</footer>
          </blockquote>

          <img src="./images/remoov.gif" alt="Remoov" class="img-responsive">
        </div>
        <div class="col-md-8">
          <p>Create peace by making your house a home. Plan time to clear clutter, start enjoying your space and be free to do the things you love.</p>
          <p>Together, we'll create solutions to keep things running smoothly at home and at work by with</p>
          <ul>
            <li>Resources &amp; Input</li>
            <li>Strategies</li>
            <li>Storage Ideas</li>
            <li>Talking Through the Process</li>
          </ul>
          <p>Areas I enjoy working with</p>
          <ul>
            <li>Residential Homes</li>
            <li>Small Business Offices</li>
            <li>Time & Project Management</li>
            <li>Closet Organization</li>
            <li>Kitchens & Pantries</li>
            <li>Rooms of Every Kind</li>
            <li>Downsizing</li>
            <li>Prepare for a Move</li>
          </ul>
          <p>I work with individuals, families and small businesses to offer sugestions for creating a simpler, more efficient living space and work environment.  Together, we'll create a plan of how to build a healthier, more productive habitat that works for you.  Creativity plays a part in designing a better organized, simpler and more efficient use of space.  It gives me great joy to share my skills with others, allowing me to connect with people and make a difference in their lives.</p>
          <p>The goal of a professional organizer is to establish the feeling of calm for people through the use of simple solutions.  As a member of NAPO (National Association of Professional Organizers), as well as NAPO-SF Bay Area Chapter, I stay informed with current corporate associates to offer as resources and fellow organizers to collaborate with.  I love what I do and would like to transfer my skills to you.</p>
          <p>Remoov offers a quick and convenient way to eliminate all of your unwanted belongings and receive 50% of the value on items sold.  Remoov will collect things that no longer fit into your life, find an accurate value for consignment through their team of currators, as well as donate and recycle the rest.  The goal of Remoov is to reduce waste and increase reuse.  Call for a consultation today and take the hassle out of creating additonal space in your home.</p>
        </div>
      </div>
    </div>
  </section>
</div>