<div id="home">
  <!-- header -->
  <header>
    <div du-parallax y="background" class="headerImage" />
      <div class="secondBg"></div>
    </div>

    <div class="titleWrapper">
      <h1 class="title"><span class="thin">Simply Put</span><br><span class="fat">Your Way</span></h1>
    </div>
  </header>
  
  <!-- about -->
  <div class="contentWrapper">
    <div class="container">
      <section class="about">
        <div class="titleBlurb">
          <h1>Achieving Serenity One Space at a Time</h1>
          <h4>Together, we can develop a plan that makes sense for you so you can re-establish your life</h4>
        </div>
        
        <div class="separator small"></div>

        <div class="row">
          <div class="col-md-12">
            <p>I work with individuals, families and small businesses to offer sugestions for creating a simpler, more efficient living space and work environment.  Together, we'll create a plan of how to build a healthier, more productive habitat that works for you.  Creativity plays a part in designing a better organized, simpler and more efficient use of space.  It gives me great joy to share my skills with others, allowing me to connect with people and make a difference in their lives.</p>
            <p>The goal of a professional organizer is to establish the feeling of calm for people through the use of simple solutions.  As a member of NAPO (National Association of Professional Organizers), as well as NAPO-SF Bay Area Chapter, I stay informed with current corporate associates to offer as resources and fellow organizers to collaborate with.  I love what I do and would like to transfer my skills to you.</p>
          </div>
        </div>
      </section>
    </div>
    
    <!-- services -->
    <div class="container-fluid spacerImageWrapper">
      <section class="services">
        <div class="row coloredBg">
          <div class="col-md-12">
            <div class="whiteWrapper">
              <h1 class="text-center createPeace">Create peace by making your house a home.</h1>
              <h4 class="text-center">Plan time to clear clutter, start enjoying your space and be free to do the things you love.</h4>
              <div class="separator small"></div>
            </div>

            <div class="row">
              <div class="col-lg-4">
                <div class="pillWrapper one">
                  <h4>Areas I enjoy working with</h4>

                  <ul>
                    <li>Residential Homes</li>
                    <li>Small Business Offices</li>
                    <li>Closet Organization</li>
                    <li>Kitchens &amp; Pantries</li>
                    <li>Rooms of Every Kind</li>
                    <li>Downsizing</li>
                    <li>Prepare for a Move</li>
                  </ul>
                </div>

                <!-- <div class="card right">
                  <div class="card-header">
                    <i class="ion-ios-briefcase-outline"></i>
                    <h3>Areas I enjoy working with</h3>
                  </div>
                  <div class="card-body">
                    <ul>
                      <li>Residential Homes</li>
                      <li>Small Business Offices</li>
                      <li>Time &amp; Project Management</li>
                      <li>Closet Organization</li>
                      <li>Kitchens &amp; Pantries</li>
                      <li>Rooms of Every Kind</li>
                      <li>Downsizing</li>
                      <li>Prepare for a Move</li>
                    </ul>
                  </div>
                </div> -->
              </div>
              <div class="col-lg-4">
                <div class="flowerWrapper">
                  <img src="../images/Single Red Flower.jpg" class="redFlower" alt="Red Flower">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="pillWrapper">
                  <h4>Together, we'll create solutions through</h4>

                  <ul>
                    <li>Storage Ideas</li>
                    <li>Time &amp; Project Management</li>
                    <li>Resources &amp; Input</li>
                    <li>Strategies</li>
                    <li>Talking Through the Process</li>
                    <li>Space Planning</li>
                  </ul>
                </div>

                <!-- <div class="card">
                  <div class="card-header">
                    <i class="ion-thumbsup"></i>
                    <h3>Together, we'll create solutions to keep things running smoothly at home and at work by</h3>
                  </div>
                  <div class="card-body">
                    <ul>
                      <li>Resources &amp; Input</li>
                      <li>Strategies</li>
                      <li>Storage Ideas</li>
                      <li>Talking Through the Process</li>
                    </ul>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    <!-- testimonials -->
    <div class="container-fluid spacerImageWrapper">
      <section class="testimonials">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Five Star Testimonials</h1>

            <div class="separator small"></div>

            <div class="main-gallery" bc-flickity="{{flickityOptions}}" id="myCustomId">
              <div class="gallery-cell" ng-repeat="testimonial in testimonials">
                <div class="testimonial">
                  <img src="{{testimonial.image}}" alt="" class="testimonial-avatar" />
                  <h3 class="testimonial-title">{{testimonial.title}}</h3>
                  <q class="testimonial-quote">{{testimonial.review}}</q>
                  <span class="testimonial-author">{{testimonial.name}}, {{testimonial.city}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- <div class="gallery-cell">
                 <div class="testimonial">
                    <img class="testimonial-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/chexee/128.jpg">
                  <q class="testimonial-quote">There's nothing like the feeling of being in control with an organized house.  Wendy has helped me to accomplish this by listening and understanding what works best for my needs.</q>
                  <span class="testimonial-author">Pam J., Menlo Park, CA</span>
                </div>
              </div> -->
  
    <div class="container-fluid spacerImageWrapper">
      <div du-parallax y="spacerImage" class="spacerImage desktop" /></div>
      <img src="../images/Shelf Life.jpg" class="forMobile img-responsive" alt="">
    </div>
    
    <!-- companies -->
    <div class="container-fluid spacerImageWrapper">
      <section class="companies">
        <div class="row">
          <div class="col-md-12 companies text-center">
            <h1>Member of</h1>

            <div class="separator small"></div>

            <img src="./images/napo.gif" alt="Remoov" class="img-responsive">
            <!-- <img src="./images/thumbstack.png" alt="Remoov" class="img-responsive"> -->
            <img src="./images/chamber.png" alt="Remoov" class="img-responsive">
          </div>
        </div>
      </section>
    </div>
    
    <!-- pinterest -->
    <div class="container-fluid spacerImageWrapper">
      <section class="pinterest">
        <div class="row">
          <div class="col-md-12">
            <div class="text-center pinterestTitleWrapper">
              <h1>Recent Pins</h1>
              <h4>select a board:</h4>
              
              <div class="separator small"></div>

              <ul class="boards">
                <li id="itsYourSpace" class="active">It's Your Space</li>
                <li id="repurposeIt">Repurpose It</li>
                <li id="redecorate">Redecorate</li>
              </ul>
            </div>

            <div masonry='{"columnWidth": "section.pinterest .grid-sizer", "gutter": "section.pinterest .gutter-sizer", "itemSelector": "section.pinterest .item"}' class="masonry">
              <div class="grid-sizer"></div>
              <div class="gutter-sizer"></div>
              
              <div masonry-tile ng-repeat="pin in currentBoard | limitTo:15">
                <div class="item">
                  <a href="{{pin.url}}" target="_blank">
                    <img src="{{pin.image.original.url}}" alt="Pin" />
                    <div class="textWrapper">
                      <h3>{{pin.metadata.article.name}}</h3>
                      <p>{{pin.note}}</p>
                      <em>{{pin.created_at | date:'MMM d, yyyy'}}</em>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>