<div id="portfolio">
  <!-- header -->
  <header>
    <div du-parallax y="background" class="headerImage" />
      <div class="secondBg"></div>
    </div>

    <div class="titleWrapper">
      <h1 class="title"><span class="thin">Portfolio</span></h1>
    </div>
  </header>

  <div class="contentWrapper">
    <!-- portfolio -->
    <section class="portfolio">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 text-center headerQuote">
            <h1 class="one">Every project and individual is unique</h1>
            <h1 class="two">Customer satisfaction by achieving goals</h1>

            <div class="separator small center"></div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <img src="https://static.wixstatic.com/media/0832c6_b91ff794788e47eaa84f7c9b29cf7d1d.jpg/v1/fill/w_844,h_688,al_c,q_85/0832c6_b91ff794788e47eaa84f7c9b29cf7d1d.webp" class="img-responsive" alt="">
          </div>
          <div class="col-md-7">
            <div class="portfolioSectionWrapper one">
              <h1>Office Storage</h1>
              <div class="separator small"></div>
              <div style="clear: both;"></div>
            </div>

            <p>I was excited to help beepi, a Bay Area  start-up to get their storage in gear.  In a productive work environment, it's important to be able to find what you need quickly.  No more wasting time hunting throughout the office for what you're looking for. It's easy now that things are placed in clear bins and conveniently located in accessible areas with added labels for easy retrieval.  Being able to view an accurate amount of surplus helps to eliminate over purchasing of necessary equipment and supplies.</p>
            <img src="../images/beepi.png" class="img-responsive" alt="Beepi">
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <div class="portfolioSectionWrapper two">
              <h1>Garage Make-Over</h1>
              <div class="separator small"></div>
              <div style="clear: both;"></div>
            </div>

            <p>A garage can be used to house your car, sporting equipment, tools, or, just stuff.  Everything can be organized to gain space, store items safely and make them visible for easy retrieval.  Beginning with a design draft, we used sturdy shelving, MonkeyBar Storage bike and chair racks as well as additional wooden shelving.  Items are easily identified and quickly found.</p>
          </div>
          <div class="col-md-5">
            <img src="https://static.wixstatic.com/media/0832c6_a6c8e47e4b834bb2afa6e7955ce13419.jpg/v1/fill/w_1106,h_692,al_c,q_85,usm_0.66_1.00_0.01/0832c6_a6c8e47e4b834bb2afa6e7955ce13419.webp" class="img-responsive" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <img src="https://static.wixstatic.com/media/0832c6_b44da21372ea4a43928addd60401d9f9.jpg/v1/fill/w_1106,h_620,al_c,q_85,usm_0.66_1.00_0.01/0832c6_b44da21372ea4a43928addd60401d9f9.webp" class="img-responsive" alt="">
          </div>
          <div class="col-md-7">
            <div class="portfolioSectionWrapper one">
              <h1>Categories and Placement</h1>
              <div class="separator small"></div>
              <div style="clear: both;"></div>
            </div>

            <p>Categories of books, specific authors and favorites are positioned in the most easily accessible locations of this well-loved library.  Each shelf is labeled to reflect its contents and a spreadsheet was created to serve as a quick reference guide to show where everything is placed.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- storage ideas -->
    <section class="storageIdeas">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Storage Ideas</h1>

            <div class="separator small center"></div>

            <div masonry='{"columnWidth": "#portfolio .storageIdeas .columnWidth", "itemSelector": "#portfolio .storageIdeas .grid-item", "isFitWidth": "true"}' class="grid">
              <div class="columnWidth"></div>
              <div class="grid-item">
                <div class="innerWrapper">
                  <img src="https://static.wixstatic.com/media/0832c6_f0bf3a52f85a41d5a0a2a138016493b1.jpg/v1/fill/w_1646,h_926,al_c,q_90,usm_0.66_1.00_0.01/0832c6_f0bf3a52f85a41d5a0a2a138016493b1.webp" class="img-responsive" alt="" />
                  <div class="text">
                    <h3>Visible Storage</h3>
                    <p>These Hefty plastic storage bins from Target are my favorite of choice today.  The lids latch securely closed and offer extra space under the lid.  The three sizes work nicely together to maximize space within shelves.</p>
                  </div>
                </div>
              </div>
              <div class="grid-item">
                <div class="innerWrapper">
                  <img src="https://static.wixstatic.com/media/0832c6_1f910e131fe6436ca10d11ac31a8449d.jpg/v1/fill/w_1437,h_958,al_c,q_90,usm_0.66_1.00_0.01/0832c6_1f910e131fe6436ca10d11ac31a8449d.webp" class="img-responsive" alt="" />
                  <div class="text">
                    <h3>Separate &amp; Find Easily</h3>
                    <p>Safely stack those hard to fit items in your cabinets with simple dividers made to order.  Inexpensive wood can be used to create easy access to platters and trays while keeping the larger items in their own space.</p>
                  </div>
                </div>
              </div>
              <div class="grid-item">
                <div class="innerWrapper">
                  <img src="https://static.wixstatic.com/media/0832c6_fdbee5708caf4efabb382c843cefb953.jpg/v1/fill/w_540,h_768,al_c,lg_1,q_90/0832c6_fdbee5708caf4efabb382c843cefb953.webp" class="img-responsive" alt="" />
                  <div class="text">
                    <h3>Easily Grab Spices</h3>
                    <p>Spices can fit nicely stacked into a drawer.  If you have the space, this is great alternative to a lazy susan for housing and being able to quickly locate a certain spice for that great recipe you're in the middle of.</p>
                  </div>
                </div>
              </div>
              <div class="grid-item">
                <div class="innerWrapper">
                  <img src="https://static.wixstatic.com/media/0832c6_e1be591759074a1f88dc1fdb65df8d77.png/v1/fill/w_476,h_441,al_c,lg_1/0832c6_e1be591759074a1f88dc1fdb65df8d77.png" class="img-responsive" alt="" />
                  <div class="text">
                    <h3>Color and Convenience</h3>
                    <p>Placed within open shelving, these decorative fabric or woven bins with built in handles create easily accessible storage that is also pleasing to the eye.  Add color to a room or keep it neutral.</p>
                  </div>
                </div>
              </div>
              <div class="grid-item">
                <div class="innerWrapper">
                  <img src="https://static.wixstatic.com/media/0832c6_adfdf7c1d66b4bed9bd5c2dbb380499d.jpg/v1/fill/w_904,h_924,al_c,q_90,usm_0.66_1.00_0.01/0832c6_adfdf7c1d66b4bed9bd5c2dbb380499d.webp" class="img-responsive" alt="" />
                  <div class="text">
                    <h3>Vertical Tiered Files</h3>
                    <p>If your stack of to-do's are piled flat on your desk, chances are you'll spend hours looking for that one thing.  Store your files and bills in a tiered, sorted holder to find what you're looking for quickly.  Colors and phrases that make sense to you will also help you locate paper items easily.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>