<div id="portfolio">
  <!-- header -->
  <header class="animated fadeIn">
    <div du-parallax y="background" class="headerImage" />
      <div class="secondBg"></div>
    </div>

    <div class="titleWrapper">
      <h1 class="title"><span class="thin">Portfolio</span></h1>
    </div>
  </header>

  <div class="contentWrapper">
    <!-- portfolio -->
    <section class="portfolio">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 text-center headerQuote">
            <h1 class="one">Every project and individual is unique</h1>
            <h1 class="two">Customer satisfaction by achieving goals</h1>

            <div class="separator small center"></div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <!-- desktop -->
          <div class="col-md-5 desktop">
            <img src="../images/plastic-bins-on-shelf.png" class="img-responsive img1" alt="">
          </div>
          <div class="col-md-7 desktop">
            <div class="portfolioSectionWrapper one">
              <h1 class="officeStorage">Office Storage</h1>
              <div class="separator small"></div>
              <div style="clear: both;"></div>
            </div>

            <p>I was excited to help beepi, a Bay Area  start-up to get their storage in gear.  In a productive work environment, it's important to be able to find what you need quickly.  No more wasting time hunting throughout the office for what you're looking for. It's easy now that things are placed in clear bins and conveniently located in accessible areas with added labels for easy retrieval.  Being able to view an accurate amount of surplus helps to eliminate over purchasing of necessary equipment and supplies.</p>
            <img src="../images/beepi.png" class="img-responsive beepi" alt="Beepi">
          </div>
          
          <!-- mobile -->
          <div class="col-md-7 mobile">
            <div class="portfolioSectionWrapper one">
              <h1 class="officeStorage">Office Storage</h1>
              <div class="separator small"></div>
              <div style="clear: both;"></div>
            </div>

            <p>I was excited to help beepi, a Bay Area  start-up to get their storage in gear.  In a productive work environment, it's important to be able to find what you need quickly.  No more wasting time hunting throughout the office for what you're looking for. It's easy now that things are placed in clear bins and conveniently located in accessible areas with added labels for easy retrieval.  Being able to view an accurate amount of surplus helps to eliminate over purchasing of necessary equipment and supplies.</p>
          </div>
          <div class="col-md-5 mobile">
            <img src="../images/plastic-bins-on-shelf.png" class="img-responsive img1" alt="">
            <img src="../images/beepi.png" class="img-responsive beepi" alt="Beepi">
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <div class="portfolioSectionWrapper two">
              <h1>Garage Make-Over</h1>
              <div class="separator small"></div>
              <div style="clear: both;"></div>
            </div>

            <p>A garage can be used to house your car, sporting equipment, tools, or, just stuff.  Everything can be organized to gain space, store items safely and make them visible for easy retrieval.  Beginning with a design draft, we used sturdy shelving, MonkeyBar Storage bike and chair racks as well as additional wooden shelving.  Items are easily identified and quickly found.</p>
          </div>
          <div class="col-md-5">
            <img src="../images/bikes-in-garage.png" class="img-responsive" alt="">
          </div>
        </div>
        <div class="row">
          <!-- desktop -->
          <div class="col-md-5 desktop">
            <img src="../images/books-behind-glass.png" class="img-responsive" alt="">
          </div>
          <div class="col-md-7 desktop">
            <div class="portfolioSectionWrapper one">
              <h1 class="categoriesAndPlacement">Categories and Placement</h1>
              <div class="separator small"></div>
              <div style="clear: both;"></div>
            </div>

            <p>Categories of books, specific authors and favorites are positioned in the most easily accessible locations of this well-loved library.  Each shelf is labeled to reflect its contents and a spreadsheet was created to serve as a quick reference guide to show where everything is placed.</p>
          </div>

          <!-- mobile -->
          <div class="col-md-7 mobile">
            <div class="portfolioSectionWrapper one">
              <h1 class="categoriesAndPlacement">Categories and Placement</h1>
              <div class="separator small"></div>
              <div style="clear: both;"></div>
            </div>

            <p>Categories of books, specific authors and favorites are positioned in the most easily accessible locations of this well-loved library.  Each shelf is labeled to reflect its contents and a spreadsheet was created to serve as a quick reference guide to show where everything is placed.</p>
          </div>
          <div class="col-md-5 mobile">
            <img src="../images/books-behind-glass.png" class="img-responsive" alt="">
          </div>
        </div>
      </div>
    </section>
    <!-- storage ideas -->
    <!-- <section class="storageIdeas">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Storage Ideas</h1>

            <div class="separator small center"></div>

            <div masonry='{"columnWidth": "#portfolio .storageIdeas .columnWidth", "itemSelector": "#portfolio .storageIdeas .grid-item", "isFitWidth": "true"}' class="grid">
              <div class="columnWidth"></div>
              
              <div masonry-tile ng-repeat="storageIdea in storageIdeas">
                <div class="grid-item">
                  <div class="innerWrapper" ng-click="toggleOverlay(); setCurrentStorageIdea($index);">
                    <img src="{{storageIdea.image}}" class="img-responsive" alt="" />
                    <div class="text">
                      <h3>{{storageIdea.title}}</h3>
                      <p>{{storageIdea.content}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
  </div>

  <!-- storage ideas overlay -->
  <div class="overlay overlay-scale">
    <button type="button" class="overlay-close" ng-click="toggleOverlay();">Close</button>
    <i class="ion-ios-arrow-left" ng-click="prev();"></i>
    <i class="ion-ios-arrow-right" ng-click="next();"></i>
    <div class="innerWrapper">
      <img src="{{currentStorageIdea.image}}" class="img-responsive currentImage {{currentStorageIdea.imageClass}}" style="width: {{currentStorageIdea.imageWidth}}" alt="">
      <div class="text-center text">
        <h3>{{currentStorageIdea.title}}</h3>
        <p>{{currentStorageIdea.content}}</p>
        <div ng-show="currentStorageIdea.link">
          <a href="{{currentStorageIdea.link}}" target="_blank"><i>more</i></a>
        </div>
      </div>
    </div>
  </div>
</div>