<div id="rates">
  <!-- header -->
  <header class="animated fadeIn">
    <div du-parallax y="background" class="headerImage" /></div>

    <div class="titleWrapper">
      <h1 class="title"><span class="thin">Rates</span></h1>
    </div>
  </header>

  <div class="contentWrapper">
    <section class="rates">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="letMeMotivate">Let me motivate you to get the job done</h1>
            
            <div class="separator small"></div>

            <p class="paddingz">We'll work together to navigate through clutter, create space, determine storage solutions that make sense and gain freedom from distraction.</p>
            <ul>
              <li>Sort, categorize, eliminate and identify storage solutions</li>
              <li>Discuss why you're holding on to items that are hard to part with</li>
              <li>Ideas for rearranging furniture to make a room more inviting and useful</li>
              <li>Suggestions for relocating items to an area where they can be used more conveniently</li>
              <li>Ideas and resources for storing memorabilia</li>
              <li>Take donations away and offer ways to eliminate large item pick-ups</li>
              <li>Once you've gotten started, you'll want to keep going!  By transferring my skills to you and with a solid head start, the concept of making sense of your things and your space should no longer seem so overwheming. You'll be able to do this with my help.</li>
            </ul>

            <h2><b>20 Minute Complimentary Phone Assessment</b></h2>
            <p>Obtaining a quick idea of what is needed might be all that is required to determine the best direction to take.  We can decide if an onsite walk through would be beneficial.</p>

            <h2><b>$75 / hour  1 hour onsite assessment</b></h2>
            <p>An initial hour onsite assessment is a nice opportunity to get to meet one another, view the problem areas, establish what is priority, determine if supplies are projected to be purchased, discuss space usage and alternative options, as well as to estimate the amount of time required to complete the project.  This will be applied to your first scheduled organizing session, should you decide to plan time.</p>

            <table class="paddingz">
              <tbody>
                <tr>
                  <td style="width: 100px"><b>$75 / hour</b></td>
                  <td style="width: 270px;"><b>3 hour minimum session</b></td>
                </tr>
                <tr>
                  <td style="width: 100px"><b>$65 / hour</b></td>
                  <td style="width: 316px"><b>4 hour session and longer</b></td>
                </tr>
                <tr>
                  <td style="width: 100px"><b>$60 / hour</b></td>
                  <td style="width: 340px"><b>Package of 10 sessions purchased in advance</b></td>
                </tr>
              </tbody>
            </table>

            <h2><b>What’s Included</b></h2>
            <p>Transporting donations to charities, recycling E-Waste items and properly disposing of expired and unused prescription drug medications.</p>

            <p class="paddingz"><b>On average, you can forecast this approximate amount of time:</b></p>
            
            <table>
              <tbody>
                <tr>
                  <td style="width: 100px">A closet</td>
                  <td style="width: 270px;">4 - 8 hours</td>
                </tr>
                <tr>
                  <td style="width: 100px">A bedroom</td>
                  <td style="width: 270px;">8 - 12 hours</td>
                </tr>
                <tr>
                  <td style="width: 100px">A kitchen</td>
                  <td style="width: 270px;">10 - 14 hours</td>
                </tr>
                <tr>
                  <td style="width: 100px">A garage</td>
                  <td style="width: 270px;">8 - 12 hours</td>
                </tr>
                <tr>
                  <td style="width: 100px">An office</td>
                  <td style="width: 270px;">16 - 24 hours (including the filing system)</td>
                </tr>
              </tbody>
            </table>

            <p class="paddingz">My schedule allows appointments during the week and for your convenience, weekends when available.  I accept payment in the form of check and cash.</p>
          </div>

          <div class="col-md-6">
            <img src="../images/new/Country Kitchen-shrunk.jpg" class="img-responsive hangers" alt="Hangers">
          </div>
        </div>
      </div>
    </section>
  </div>
</div>