<div id="rates">
  <!-- header -->
  <header>
    <div du-parallax y="background" class="headerImage" /></div>

    <div class="titleWrapper">
      <h1 class="title"><span class="thin">Rates</span></h1>
    </div>
  </header>

  <div class="contentWrapper">
    <section class="rates">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="letMeMotivate">Let me motivate you to get the job done</h1>
            
            <div class="separator small"></div>

            <p>We'll work together to navigate through clutter, create space, determine storage solutions that make sense and gain freedom from distratction.</p>
            <ul>
              <li>Sort, categorize, eliminate and identify storage solutions</li>
              <li>Discuss why you're holding on to items that are hard to part with</li>
              <li>Ideas for rearranging furniture to make a room more inviting and useful</li>
              <li>Suggestions for relocating items to an area where they can be used more conveniently</li>
              <li>Ideas and resources for storing memorabilia</li>
              <li>Take donations away and offer ways to eliminate large item pick-ups</li>
              <li>Once you've gotten started, you'll want to keep going!  By transferring my skills to you and with a solid head start, the concept of making sense of your things and your space should no longer seem so overwheming. You'll be able to do this with my help, or on your own.</li>
            </ul>
            <div class="row">
              <div class="col-md-6">
                <p><b>$60 / hour</b><br><b>$55 / hour package rate</b><br><b>$50 / hour package rate</b></p>
              </div>
              <div class="col-md-6">
                <p>3 - 5 hours<br>6 - 12 hours, Get it Done<br>More than that, Lots to Do</p>
              </div>
            </div>
            <p>My schedule allows weekday appointment and for your convenience, weekends when available.  Currently, I accept payment in the form of check and cash.</p>
          </div>
          <div class="col-md-6">
            <img src="../images/new/Puzzle Pieces.jpg" class="img-responsive hangers" alt="Hangers">
          </div>
        </div>
      </div>
    </section>
  </div>
</div>