<div id="resources">
  <!-- header -->
  <header class="animated fadeIn">
    <div du-parallax y="background" class="headerImage" />
      <div class="secondBg"></div>
    </div>

    <div class="titleWrapper">
      <h1 class="title"><span class="thin">Resources</span></h1>
    </div>
  </header>

  <div class="contentWrapper">
    <!-- organizing resources -->
    <section class="organizingResources">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="organizingResourcesHeader">
              <img src="../images/drawers-shrunk.png" alt="Drawer" class="img-responsive drawer">
              <h1 class="text-center">Organizing Resources</h1>

              <div class="separator small"></div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <a href="http://remoovit.com" target="_blank">
                  <img src="../images/Remoov Logo-shrunk.gif" class="img-responsive remoov" alt="Remoov">
                </a>
              </div>
              <div class="col-md-8">
                <p>Remoov offers a quick and convenient way to eliminate all of your unwanted belongings and receive 50% of the value on items sold.  Remoov will collect things that no longer fit into your life, find an accurate value for consignment through their team of currators, as well as donate and recycle the rest.  The goal of Remoov is to reduce waste and increase reuse.  Call for a consultation today and take the hassle out of creating additonal space in your home.</p>
                <p><b>LifeinCase</b> allows you to be prepared for life's little emergencies by having all of your personal, financial, property, medical and estate documents at hand in one nice, sturdy, compact case.  Take the frustration out of trying to put your hands onto all of the important documents when you need them the most. <a href="http://www.lifeincase.com" target="_blank">www.lifeincase.com</a></p>
                <p><b>Home Zada</b> is an all encompassed site that manages and forecasts home improvements, maintenance, inventory and more.  Stay on top of things with your homeowners insurance and ahead of the game by taking a proactive approach to responsibilites before they become hassels. <a href="http://www.homezada.com/homeowners" target="_blank">http://www.homezada.com/homeowners</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- helpful books -->
    <section class="helpfulBooks">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Helpful Books</h1>

            <div class="separator small"></div>
          </div>
        </div>
      </div>
      <div class="container-fluid booksWrapper">
        <div class="row redBg">
          <div class="bookWrapper">
            <div class="col-md-4">
              <img src="../images/marie-kondo-shrunk.png" alt="The Life Changing Magic of Tidying Up" class="img-responsive img1">
            </div>
            <div class="col-md-8 transform">
              <div class="textWrapper">
                <h4><b class="white">The Life-Changing Magic of Tidying Up: The Japanese Art of Decluttering and Organizing</b></h4>
                <h6>by Marie Kondo</h6>
                <p class="p1">Love this book!  It will have you organized in no time, but, it's not for everyone.  For many of us, the process of organizing takes more time due to individual circumstances, time availability and emotions.  There is no right or wrong way to get your things in order, but it has to be done within your comfort zone.  The "KonMari Method" is effective, quick and to the point, but you have to be up for that type of hard core challenge.  You'll still find invaluable tips even if this appoach is too pressured for your taste.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- desktop -->
          <div class="col-md-8 transform longTitle desktop">
            <div class="textWrapper two">
              <h4><b>Clear Your Clutter with Feng Shui: Free Yourself from Physical, Mental, Emotional, and Spiritual Clutter Forever</b></h4>
              <h6>by Karen Kingston</h6>
              <p class="p2">You can't expect to have a Feng Shui home unless you clear your clutter first.  Defined as the "art of balance and harmonizing the flow of natural energies in our surroundings to create beneficial effects in our lives," this simply cannot be achieved until we address the items that are weighing us down.  We can literally get "stuck" if we live in an environment that posesses things that not only do not make us happy, but remind us of a past that needs to be dealt with and then released.</p>
            </div>
          </div>
          <!-- desktop -->
          <div class="col-md-4 desktop">
            <img src="../images/karen-kingston-shrunk.png" alt="Clear Your Clutter With Feng Shui" class="img-responsive img2">
          </div>

          <!-- mobile -->
          <div class="col-md-4 mobile">
            <img src="../images/karen-kingston-shrunk.png" alt="Clear Your Clutter With Feng Shui" class="img-responsive img2">
          </div>
          <!-- mobile -->
          <div class="col-md-8 transform longTitle mobile">
            <div class="textWrapper two">
              <h4><b>Clear Your Clutter with Feng Shui: Free Yourself from Physical, Mental, Emotional, and Spiritual Clutter Forever</b></h4>
              <h6>by Karen Kingston</h6>
              <p class="p2">You can't expect to have a Feng Shui home unless you clear your clutter first.  Defined as the "art of balance and harmonizing the flow of natural energies in our surroundings to create beneficial effects in our lives," this simply cannot be achieved until we address the items that are weighing us down.  We can literally get "stuck" if we live in an environment that posesses things that not only do not make us happy, but remind us of a past that needs to be dealt with and then released.</p>
            </div>
          </div>
        </div>

        <div class="row redBg last">
          <div class="col-md-4">
            <img src="../images/judith-kolberg-shrunk.png" alt="Add-Friendly Ways to Organize Your Life" class="img-responsive img3">
          </div>
          <div class="col-md-8 transform">
            <div class="textWrapper">
              <h4><b class="white">ADD-Friendly Ways to Organize Your Life</b></h4>
              <h6>by Judith Kolberg &amp; Kathleen Nadeau, PH.D.</h6>
              <p class="p1">You don't have to be challenged by ADD to benefit from this book.  I would say that it is the polar opposite of Marie Kondo's best seller.  People that require a little extra help with locating things and having more visible systems will appreciate this book.  The strategies and tips within have been proven and recommended by a professional organizer as well a renowned ADD clinician.  There is a wealth of information for everyone!</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>