<div id="services">
  <!-- header -->
  <header class="animated fadeIn">
    <div du-parallax y="background" class="headerImage" />
      <div class="secondBg"></div>
    </div>

    <div class="titleWrapper">
      <h1 class="title"><span class="thin">Services</span></h1>
    </div>
  </header>
  
  <!-- residential home organizing -->
  <div class="contentWrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <section class="services text-center">
            <h1>Areas I enjoy working with</h1>

            <div class="separator small"></div>

            <ul>
              <li>Closet Organization</li>
              <li>Kitchens &amp; Pantries</li>
              <li>Rooms of Every Kind</li>
              <li>Downsizing</li>
              <li>Prepare for a Move</li>
              <li>Space Planning</li>
              <li>Residential Homes</li>
              <li>Small Business Offices</li>
              <li>Time &amp; Project Management</li>
            </ul>

            <!-- <h1>Together, we'll create solutions to keep things running smoothly at home and at work by</h1>

            <div class="separator small"></div>

            <ul>
              <li>Resources &amp; Input</li>
              <li>Strategies</li>
              <li>Storage Ideas</li>
              <li>Talking Through the Process</li>
            </ul> -->
          </section>

          <section class="residentialHomeOrganizing">
            <div class="row">
              <div class="col-md-6">
                <h1>Residential Home Organizing</h1>
                <h4>Organize your Living Space, Enjoy your Life</h4>

                <div class="separator small"></div>

                <p>Need to make your house feel more like a home?  Are you holding off your social plans until you get your home in order ?  Schedule time to get it done and have more time to enjoy the things in life that you love.  An investment in hiring a professional organizer will get you started, motivated and on your way.  As we work together, I'll transfer my skills to you, empowering you to have the desire to get a lot done on your own.</p>
              </div>
              <div class="col-md-6">
                <img src="../images/Closet Storage.jpg" class="img-responsive" alt="">
              </div>
            </div>
            <p>If you took everything out of a given room, what items would you put back in?  What else would you like to see in this room?  After going through the process of sorting, relocating items to an area where they are used most frequently and eliminating items that are no longer desired,  you will be amazed at what you find in the process and realize what you no longer need.  Your "keep" items will identify the type of storage that will best suit your needs.  Once our mission is accomplished, you'll be able to maintain your space because everything will have a place and each item will be conveniently located for use.</p>
            <p>Our first session will determine what is working, what is not and how to go about taking action.  Suggestions will be offered &amp; discussed, kicking off the process of establishing ideas that work for you with suggested strategies and storage recommendations.  Progress is made quickly and I happily load up your donations into my car to take off site at the end of the session.  I enjoy talking through organizational challenges and especially love to make suggestions for rearranging furniture pieces to serve a better purpose in a given room.  It's also fun, rewarding and cost effective to identify ways to repurpose items that already exist, rather than purchasing new or sending them away for donation.</p>
          </section>

          <section class="timeAndProjectManagement">
            <!-- desktop -->
            <div class="row desktop">
              <div class="col-md-6">
                <img src="../images/Clock-shrunk.jpg" class="img-responsive" alt="">
              </div>
              <div class="col-md-6">
                <div class="headerWrapper">
                  <h1>Time &amp; Project Management</h1>
                  <div style="clear: both;"></div>
                  <h4>Checklist, timeline, goals and dates</h4>
                  <div style="clear: both;"></div>
                  <div class="separator small"></div>
                </div>

                <div style="clear: both;"></div>

                <p>Making time to list out your goals and the action items that go with them can keep you on task and prepared for your next step.  Whether you're planning a move, setting out to tackle a remodel on you home or want to establish a new fitness goal, planning will help you achieve the big picture.</p>

                <ul>
                  <li>Create a "To Do List" for the day, week or month ahead with the help of reminders, colors and goals. Maybe outlining a timeline of events that you would like to adhere to would be helpful</li>
                  <li>Do you prefer to keep use a daytimer and make handwritten notes?</li>
                  <li>Are you ready to brave tech savvy apps such as Google calendar, Evernote or Keep to easily find your schedule in the cloud?</li>
                </ul>
              </div>
            </div>

            <!-- mobile -->
            <div class="row mobile">
              <div class="col-md-6">
                <div class="headerWrapper">
                  <h1>Time &amp; Project Management</h1>
                  <div style="clear: both;"></div>
                  <h4>Checklist, timeline, goals and dates</h4>
                  <div style="clear: both;"></div>
                  <div class="separator small"></div>
                </div>

                <div style="clear: both;"></div>

                <p>Making time to list out your goals and the action items that go with them can keep you on task and prepared for your next step.  Whether you're planning a move, setting out to tackle a remodel on you home or want to establish a new fitness goal, planning will help you achieve the big picture.</p>

                <ul>
                  <li>Create a "To Do List" for the day, week or month ahead with the help of reminders, colors and goals. Maybe outlining a timeline of events that you would like to adhere to would be helpful</li>
                  <li>Do you prefer to keep use a daytimer and make handwritten notes?</li>
                  <li>Are you ready to brave tech savvy apps such as Google calendar, Evernote or Keep to easily find your schedule in the cloud?</li>
                </ul>
              </div>

              <div class="col-md-6">
                <img src="../images/Clock-shrunk.jpg" class="img-responsive" alt="">
              </div>
            </div>
          </section>

          <section class="smallBusinessOffices">
            <div class="row">
              <div class="col-md-6">
                <h1>Small Business Offices</h1>
                <h4>Efficiency = Productivity while saving the company money</h4>

                <div class="separator small"></div>

                <p>With 30 years in the field of administration, organizing an office to offer simple solutions for establishing and maintaining a productive work environment is like second nature to me.  Placing items for use in the area to be used, creating sufficient storage for surplus and offering solutions that work for the needs of the company are key.</p>

                <p>I would enjoy a complimentary consultation with you to determine what areas need to be addressed, take measurements to determine solutions to suggest and take pictures of the areas to have as a reference.  The easiest way I have found to offer recommendations is through editable Google Docs/Sheets to illustrate what is needed and to address questions and concerns.</p>
              </div>
              <div class="col-md-6">
                <img src="../images/clear-bins-shrunk.jpg" class="img-responsive" alt="">
              </div>
            </div>
          </section>
        </div>
      </div>  
    </div>
  </div>
</div>