<section class="demo">
  <div class="demo__card">
      <div class="demo__slides" bc-flickity="{{ flickityOptions }}" bc-flickity-id="demoId1">
        <!-- <figure class="demo__slide" data-ng-repeat="slide in slides track by $index">
            <img src="http://lorempixel.com/300/100" alt="" />
            <h2>insert some text shit here</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat excepturi incidunt cum delectus explicabo eligendi, illo molestiae! Consectetur, veniam, tempore! Distinctio consequuntur ea, id. Fugiat?</p>
            <b>name, city, state</b>
        </figure> -->
        <figure class="demo__slide" data-ng-repeat="slide in slides track by $index">
            <img data-ng-src="{{ ::slide }}" alt="" />
        </figure>
      </div>
  </div>
</section>