<div id="virtualOrganizing">
  <!-- header -->
  <header class="animated fadeIn">
    <div du-parallax y="background" class="headerImage">
      <div class="secondBg"></div>
    </div>

    <div class="titleWrapper">
      <h1 class="title"><span class="thin">Virtual Organizing</span></h1>
    </div>
  </header>

  <!-- about -->
  <div class="contentWrapper">
    <section class="about">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="jill">Virtual Organizing…is it right for you?</h1>
            <div class="separator small"></div>
            <img src="../images/virtual-organizing-min.jpg" class="img-responsive virtualOrgLogo" alt="Virtual Organizing">
            <p>Professional organizers have the ability to put the balance back into people’s lives. Sustained by collaboration and growth, virtual organizing is another option to having a professional organizer work with you in your home. While this is not a new concept, it may be the first time you’ve heard of it. Some reasons to consider this approach to getting your space in shape are…</p>
            <ul class="virtualOrgIsItRightForYouList">
              <li>There may not be a professional organizer in your area</li>
              <li>You are a DIY’er that is looking for a little coaching</li>
              <li>Your busy schedule only allows for a small amount of time to dedicate to organizing. Scheduled at your convenience, 1 – 2 hour sessions, over a period of time.</li>
              <li>Savings in cost vs. hiring an on-site professional organizer</li>
              <li>Accountability with designated homework between sessions</li>
              <li>Improved long-term supportive habits</li>
              <li>Could enlist a family member or friend to help during sessions</li>
              <li>Focus on one area of the home</li>
            </ul>
            <h3><b>You would be a fit for this style of organizing assistance if you</b></h3>
            <ul class="youWouldBeAFitList">
              <li>Agree to work together with the organizer as a team</li>
              <li>Are motivated for change</li>
              <li>Have a willingness to learn new skills</li>
              <li>Have the physical ability to lift and move items</li>
              <li>Don’t mind dropping off donations to a local charity and discarding the eliminated recycle and trash</li>
              <li>Can articulate when you become frustrated or stuck during the process</li>
              <li>Have time restraints</li>
            </ul>
            <h3><b>How does virtual organizing work?</b></h3>
            <ul class="howDoesVirtualOrgWorkList">
              <li>A complimentary 20 minute assessment by phone is done to determine if this approach is right for you</li>
              <li>Goals are defined in a timeline agreement set between the two of us</li>
              <li>Expectations are defined which clearly illustrates the accountability held by each</li>
              <li>As we proceed, a continuing project session journal serves as a living reference for both of us to reflect upon. Its purpose is to record our problem solving and suggested ideas</li>
              <li>Through our interactive experience, the professional organizer will provide detailed and precise descriptions as well as suggestions to ensure that the ideas are clearly understood</li>
              <li>Realistic homework will be assigned between sessions in order to make advancement</li>
            </ul>
            <h3><b>Based on your level of technology, you may need</b></h3>
            <ul class="baseOnYourLevelOfTechList">
              <li>Skype account, email address, ability to scan documents, optional ways to share information via Google Drive</li>
              <li>Cell phone and the knowledge of how to take and forward pictures</li>
              <li>Ability to simply sketch an overhead view of the working area</li>
              <li>Tape measure</li>
              <li>Pad of paper to list new ideas and storage needs as they are defined</li>
            </ul>
            <p>Whether you are local or miles away, I look forward to finding ways to assist you with your organizing project. Please click on the Virtual Organizing logo below to contact me. I’d be happy to give you a call at your convenience so that we can get acquainted and decide if virtual organizing is a match for you.</p>
            <br>
            <p><strong>Wendy C. Quaccia</strong></p>
            <br>
            <a ui-sref="contact">
              <img src="../images/virtual-organizing-min.jpg" class="img-responsive virtualOrgLogo bottom" alt="Virtual Organizing">
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
