<div id="whatIsAnOrganizer">
  <!-- header -->
  <header class="animated fadeIn">
    <div du-parallax y="background" class="headerImage" />
      <div class="secondBg"></div>
    </div>

    <div class="titleWrapper">
      <h1 class="title"><span class="thin">What is an</span><br><span class="fat">Organizer?</span></h1>
    </div>
  </header>

  <div class="contentWrapper">
    <!-- organize your stuff, improve your life -->
    <section class="organizeYourStuff">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <img src="../images/white-flower.png" class="img-responsive whiteFlower" alt="White Flower">
            <h3 class="text-center">Organize Your Stuff / Improve Your Life</h3>
            <h1>Make Your Life Easier</h1>

            <div class="separator small"></div>

            <p><b>Primary ways a professional organizer can get you motivated &amp; on your way</b><br>Most organizers have many years of experience in the field of administration.  Our professional background may consist of a variety of managerial hats, customer service, learned ideas to make a system run smoother, organizing everything from files in filing cabinets to folders in Gmail accounts.  Professional organizers are detail oriented and truly enjoy helping others.</p>
            <p><b>Organizing can be life changing.</b><br>Each organizer has their own unique set of skills and talents ranging from interior design to finance expertise, specializing in what we love to do most.  You'll find organizers who offer a team and others who prefer to work on a 1:1 basis.  Some specialties include residential, small business, chronic disorganization, paper piles, digital files, memorabilia, financial, prep to move, downsizing, garage, estate sales and Feng Shui.  Organizers are confidential, trustworthy, and compassionate individuals who listen and understand the needs of their client.  It is important to demonstrate transfer of skill as opposed to just doing the task for someone in order to maintain a system that works.  Our reward at the end of each session is to see the happiness that making sense of a home can bring.</p>
            <p><b>Reduce the amount of stuff.</b><br>Finding a sale can spark unnecessary spending on things you don't need and even offer a high until you get the item home, at which point this new found treasure only adds to existing clutter.   We may convince ourselves that “we’ll never find this on sale again,” or that we should purchase it at this great price for “just in case” we need it someday.  When slimming down the things in our home, it's best to sort through what we have first, rather than bringing new things in.  Releasing clutter and identifying the reasons why you are holding onto certain items will bring freedom, clarity and joy into your life.</p>
            <p>Everyone has a different life situation with individual reasons why things may have gotten out of hand.  There are various strategies, motivation, understanding and transfer of skills that an organizer can help with.  Clutter is postponed decisions and weighs you down both physically and emotionally.  Marie Kondo, author of the New York Times best seller “The Life-Changing Magic of Tidying Up” asks “Does this object bring you joy” over and over again of her clients.  Her feeling is that if it does not, then it’s not necessary in your life.  For others, it’s not as easy as that and may require more creative strategies to sort through the process.</p>
            <p>Among other online platforms, a great place to find a reputable organizer to assist you is within two important NAPO websites (National Association of Professional Organizers):</p>

            <ul>
              <li>
                <div class="col-md-3 napoBullet">
                  <b>NAPO – National</b> - <a href="www.napo.net">www.napo.net</a><br>
                  <img src="../images/napo.gif" class="napo" alt="NAPO">
                </div>
                <div class="col-md-9">
                  <p>Offering a worldwide directory to find the kind of organizer that fits your needs and location by filling out a small questionnaire to address your goals and learning the specialties of individual organizers that adhere to a professional code of ethics</p>
                </div>
              </li>
              
              <div style="clear: both;"></div>

              <li>
                <div class="col-md-3 napoBullet">
                  <b>NAPO – SFBA</b> - <a href="www.napo-sfba.org">www.napo-sfba.org</a><br>
                  <img src="../images/sf-napo.webp" class="napoSf" alt="NAPO">
                </div>
                <div class="col-md-9">
                  <p>Offers the same in a local San Francisco Bay Area directory of professional organizers</p>
                </div>
              </li>
            </ul>
            
            <div style="clear: both;"></div>

            <p>As a member of both associations, I receive the support of colleagues, ongoing education, networking, knowledge of corporate associate members and resources as well as a vow to follow a professional code of ethics.  An investment in hiring a professional organizer will motivate you to get you started and on your way.  You'll catch the bug too!  Schedule time to get it done and experience the freedom to enjoy the things you love in life.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>