#blogShow .contentWrapper {
  position: relative;
  background: #fff;
  z-index: 1;
  padding: 10em 0 10em;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* pill buttons */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
#blogShow .backBtn {
  color: rgba(52,52,52,1);
}

#blogShow .backBtn:hover {
  text-decoration: none;
  color: rgba(52,52,52,1);
}