/* for footer on desktop */
#contact {
  margin-bottom: 347px;
  padding-bottom: 25px;
  background-color: #fff;
}

#contact h1 {
  color: rgba(145,56,63,1);
}

#contact .contact .separator.small {
  margin: 25px auto 25px;
  width: 22px;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* header */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
#contact .headerImage {
  /*background: url("../images/new/Fun Old Kitchen Items.jpg"), url("../images/subtle patterns/crossword.png");*/
  min-height: 40em;
  background-position: 0 0, 0px 0;
  background-repeat: no-repeat, repeat;
  background-size: 65%;
}

#contact h1.title {
  display: inline-block;
  z-index: 9;
  position: absolute;
  top: 30%;
  right: 3%;
  text-align: center;
  color: rgba(145,56,63,0.5);
  text-transform: uppercase;
  font-size: 5em;
}

#contact h1.title span.thin {
  font-weight: 100;
  background-color: rgba(189,189,189,0.7);
  padding: 0 10px;
  letter-spacing: 10px;
}

#contact h1.title span.fat {
  font-weight: 100;
  background-color: rgba(0,0,0,0.3);
  padding: 0 10px;
  letter-spacing: 10px;
  position: relative;
  top: 25px;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* when you're ready for some help */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
#contact .contentWrapper {
  position: relative;
  background: #fff;
  z-index: 1;
  padding: 0;
}

#contact .contact img.img-responsive.gardenUtencils {
  margin: 0 auto;
  -webkit-clip-path: circle(34% at 50% 50%);
  clip-path: circle(34% at 50% 50%);
  width: 25%;
}

#contact .contact p.contactText {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

#contact .contact form .form-group {
  /*display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;*/
}

#contact .contact form .form-group label {
  width: 62px;
  color: rgba(145,56,63,1);
  display: inline-table;
  vertical-align: top;
}

#contact .contact form {
  width: 100%;
}

#contact .contact .row.formWrapper {
  margin: 25px 0;
}

#contact .contact form .form-control:focus {
  border-color: rgba(145,56,63,1);
  box-shadow: none;
}

#contact .contact form#contactForm button {
  position: relative;
  left: 64px;
}

#contact .contact .bottomHalf {
  width: 50%;
  margin: 0 auto;
}

#contact .contact form .form-control {
  border: 1px solid #bdbdbd;
  border-radius: 0;
  display: inline-block;
  width: 88%;
}

#contact .contact .container-fluid.topHalf {
  background-color: rgba(145,56,63,1);
  color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
}

#contact .contact .container-fluid.topHalf h1 {
  color: #fff;
}

#contact .contact .container-fluid.topHalf .separator.small {
  background-color: #fff;
}

#contact .contact .bottomHalf p {
  padding: 0 0 25px;
}

#contact .contact span.errorMsg {
  position: relative;
  left: 64px;
  top: 7px;
  color: rgba(145,56,63,1);
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* form submit button */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
#contact .contact .button {
  background: none;
  cursor: pointer;
  padding: 10px 35px;
  display: inline-block;
  margin: 15px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#contact .contact .btn-1 {
  border: 1px solid rgba(145,56,63,1);
  color: rgba(145,56,63,1);
}

#contact .contact .btn-1c:after {
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(145,56,63,1);
}

#contact .contact .button:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* material design toast (flash message) */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
md-toast {
  position: fixed;
  width: 304px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
}

md-toast .md-toast-content {
  font-size: 20px;
  border: 1px solid rgb(250,250,250);
  text-align: center;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* contact form errors */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
#contact .contact .errors p {
  padding: 0;
  font-weight: 600;
  color: rgba(145,56,63,1);
}

#contact .contact .errors {
  padding-bottom: 25px;
}

#contact .contact .errors span.errorParam {
  font-weight: 600;
  color: rgba(145,56,63,1);
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* hover responsiveness */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media all and (min-width: 800px) {
  #contact .contact .btn-1c:hover, .btn-1c:active {
    color: #fff;
  }

  #contact .contact .btn-1c:hover:after, .btn-1c:active:after {
    width: 100%;
  }
}