/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* safari only */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
_::-webkit-full-page-media, _:future, :root #home,
_::-webkit-full-page-media, _:future, :root #about,
_::-webkit-full-page-media, _:future, :root #contact,
_::-webkit-full-page-media, _:future, :root #donations,
_::-webkit-full-page-media, _:future, :root #portfolio,
_::-webkit-full-page-media, _:future, :root #rates,
_::-webkit-full-page-media, _:future, :root #resources,
_::-webkit-full-page-media, _:future, :root #services,
_::-webkit-full-page-media, _:future, :root #whatIsAnOrganizer,
_::-webkit-full-page-media, _:future, :root #blogIndex,
_::-webkit-full-page-media, _:future, :root #blogShow,
_::-webkit-full-page-media, _:future, :root #blogNew .contentWrapper,
_::-webkit-full-page-media, _:future, :root #blogEdit .contentWrapper {
  margin-bottom: 0;
}

_::-webkit-full-page-media, _:future, :root footer {
  z-index: 1;
  position: relative;
}

_::-webkit-full-page-media, _:future, :root .navigationBar .navbar-header {
  float: left;
}

_::-webkit-full-page-media, _:future, :root #whatIsAnOrganizer ul.safariOnly {
  list-style-type: none;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* internet explorer only */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #home section.services .flowerWrapper img {
    position: relative;
    width: 212px;
    height: 202px;
    border-radius: 60%;
    overflow: hidden;
    margin: 50px auto 20px;
    left: 5px;
  }

  #about .about img.maaam {
    position: relative;
    width: 232px;
    height: 252px;
    border-radius: 60%;
    overflow: hidden;
    margin: 50px auto 20px;
    left: 5px;
  }

  #whatIsAnOrganizer .whiteFlower {
    position: relative;
    width: 272px;
    height: 252px;
    border-radius: 60%;
    overflow: hidden;
    margin: 50px auto 20px;
    left: 5px;
  }

  #contact .contact img.img-responsive.gardenUtencils {
    position: relative;
    width: 212px;
    height: 202px;
    border-radius: 60%;
    overflow: hidden;
    margin: 0 auto 20px;
  }
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* firefox only */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@-moz-document url-prefix() {
  #contact .contact img.img-responsive.gardenUtencils.moz {
    position: relative;
    width: 212px;
    height: 202px;
    border-radius: 60%;
    overflow: hidden;
    margin: 0 auto 20px;
  }
}