/* for footer on desktop */
#events {
  /*margin-bottom: 347px;*/
  padding-bottom: 25px;
  background-color: #fff;
}

#events h1 {
  color: rgba(145,56,63,1);
}

#events h1.events-title {
  color: #FFF;
}

#events h1.sub-title {
  margin-top: 0;
}

#events .contentWrapper {
  position: relative;
  background: #fff;
  z-index: 1;
  padding: 0;
}

#events .services .separator.small {
  margin: 25px auto 45px;
  width: 22px;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* header */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
#events .headerImage {
  /*background: url("../images/new/Pink Hues.jpg"), url("../images/subtle patterns/crossword.png");*/
  min-height: 40em;
  background-position: 0 0, 0px 0;
  background-repeat: no-repeat, repeat;
  background-size: contain;
}

#events h1.title {
  display: inline-block;
  z-index: 9;
  position: absolute;
  top: 40%;
  right: 3%;
  text-align: center;
  color: rgba(145,56,63,0.5);
  text-transform: uppercase;
  font-size: 5em;
}

#events h1.title span.thin {
  font-weight: 100;
  background-color: rgba(189,189,189,0.7);
  padding: 0 10px;
  letter-spacing: 10px;
}

#events h1.title span.fat {
  font-weight: 100;
  background-color: rgba(0,0,0,0.3);
  padding: 0 10px;
  letter-spacing: 10px;
  position: relative;
  top: 25px;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* upcoming events */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
#events .whereToDonate .whereToDonateHeader {
  padding: 95px 0 35px;
  color: #fff;
  background-color: rgba(145,56,63,1);
}

#events .charities img {
  margin: 0 auto;
}

#events .charities .header-image-wrapper {
  text-align: center;
}

#events .charities img.header {
  width: 60%;
  border: none;
  margin-top: 20px;
}

#events .whereToDonate img.salvationArmy {
  width: 15%;
}

#events .whereToDonate img.marissasCloset {
  width: 15%;
}

#events .whereToDonate p {
  margin: 25px 0;
}

#events .charities .workshop-intro {
  color: rgba(141,58,65,1);
  font-weight: 600;
  margin-bottom: 25px;
}

#events .charities .event-info,
#events .charities .event-info a {
  font-size: 15px;
}

#events .charities .flex-parent {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  width: 50%;
}

@media all and (max-width: 750px) {
  #events .charities .flex-parent {
    width: 75%;
  }
}

#events .charities .flex-parent .flex-kid.left {
  text-align: left;
}

#events .charities .flex-parent .flex-kid.right {
  text-align: right;
}

#events .charities .flex-parent .flex-kid.center {
  text-align: center;
  width: 100%;
}

#events .idea-list li {
  font-size: 20px;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* charities help in so many ways */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
#events .whereToDonate .charities a {
  white-space: nowrap;
  font-weight: 600;
  color: rgba(143,57,64,1);
}

#events .contact p {
  margin: 0;
}

#events .contact .contact-wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

#events .contact .contact-wrapper .contact-item {
  margin-right: 50px;
}

@media all and (max-width: 600px) {
  #events .contact .contact-wrapper .contact-item {
    margin-right: 0;
    margin-bottom: 15px;
  }

  #events .contact .contact-wrapper {
    flex-direction: column;
    text-align: center;
  }

  #events .charities img.header {
    width: 100%;
  }
}
