footer {
  position: fixed;
  z-index: -1;
  bottom: 0;
  width: 100%;
}

footer .overlay {
  bottom: 0;
  height: 100%;
  width: 100%;
  background: #333;
  overflow: auto;
  z-index: 99;
  padding: 50px 0;
}

footer .overlay .wrap {
  color:#fff;
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
}

footer .overlay .wrap ul.wrap-nav {
  /*border-bottom: 1px solid #575757;*/
  text-transform: capitalize;
  text-align: left;
}

footer .overlay .wrap ul.wrap-nav li {
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
  width: 24%;
  position: relative;
}

footer .overlay .wrap ul.wrap-nav li a {
  color: #fff;
  display: block;
  padding: 0;
  text-decoration: none;
}

footer .overlay .wrap ul.wrap-nav ul {
  padding: 20px 0;
}

footer .overlay .wrap ul.wrap-nav ul li {
  display: block;
  font-size: 13px;
  width: 100%;
  color:#fff;
}

footer .overlay .wrap ul.wrap-nav ul li a {
  color:#fff;
  transition: all .2s linear 0s;
  -moz-transition: all .2s linear 0s;
  -webkit-transition: all .2s linear 0s;
  -o-transition: all .2s linear 0s;
  display: inline-block;
}

footer .overlay .wrap ul.wrap-nav ul li a:hover {
  color: #9c9999;
}

footer .overlay .social {
  font-size: 25px;
  float: left;
}

footer .overlay .social p {
  margin: 0;
  padding: 20px 0 5px 0;
  line-height: 30px;
  font-size: 13px;
}

footer .overlay .social p a {
  color:#34B484;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

footer .overlay .social a:hover {
  text-decoration: none;
}

footer .overlay .social .social-icon {
  width: 80px;
  height: 50px;
  background:#fff;
  color: #333;
  display: inline-block;
  margin: 0 20px 0 0;
}

footer .overlay .social .social-icon:hover {
  background: rgba(145,56,63,1);
  color:#fff;
}

footer .overlay .social .social-icon i {
  margin-top: 12px;
}

footer .contactInfo hr {
  width: 150px;
  margin-left: 0;
}

footer .overlay .social .contactInfo .license {
  padding: 0;
}

footer .contactInfo {
  color: #fff;
  text-align: left;
  font-size: 13px;
  padding: 20px 0;
}

footer .linksWrapper li,
footer .linkCategoryTitle {
  text-align: left;
}

footer .overlay .wrap ul.wrap-nav li a.linkCategoryTitle {
  text-decoration: underline;
}

/*footer .overlay .wrap ul.wrap-nav li,
footer a.linkCategoryTitle {
  text-align: center;
}*/

footer .social li {
  display: inline-block;
}

footer .separator.small {
  background-color: #fff;
  margin: 25px 0 45px;
  width: 50%;
}

@media screen and (max-width: 48em) {
  footer .overlay .wrap ul.wrap-nav > li {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #575757;
  }

  footer .overlay .wrap ul.wrap-nav ul li a {
    padding: 8px 0;
  }

  footer .overlay .social {
    color:#c1c1c1;
    font-size: 25px;
    padding: 15px 0;
  }

  footer .overlay .social .social-icon {
    width: 20%;
    height: 50px;
    background: #fff;
    color: #333;
    display: inline-block;
    /*margin: 5px auto;*/
  }

  footer .overlay .social .social-icon.one {
    position: relative;
    top: 5px;
  }

  footer .overlay .social .social-icon.two {
    position: relative;
    top: -5px;
  }

  footer {
    position: relative;
    z-index: 5;
  }

  footer .overlay .wrap ul.wrap-nav li,
  footer a.linkCategoryTitle {
    left: 0;
    text-align: center;
  }

  #home {
    margin-bottom: 0;
  }
}