body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}

.separator.small {
  background-color: #000;
  height: 2px;
  position: relative;
  width: 22px;
  display: block;
  margin: 25px auto 45px;
}

.overflowHidden {
  overflow: hidden;
}