body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}

p {
  font-size: 18px;
}

.separator.small {
  background-color: #000;
  height: 2px;
  position: relative;
  width: 22px;
  display: block;
  margin: 25px auto 45px;
}

.overflowHidden {
  overflow: hidden;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* blog: coming soon */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
.navWrapper a.blog,
.navWrapper a.blog:hover,
footer a.blog,
footer a.blog:hover {
  text-decoration: line-through !important;
}

.navWrapper a.blog:after {
  content: 'coming soon';
  position: absolute;
  bottom: 6px;
  right: 114px;
  color: rgba(145,56,63,1);
  font-weight: 600;
}

footer a.blog:after {
  content: 'coming soon';
  color: #fff;
  position: absolute;
  right: 150px;
  font-weight: 600;
  top: 1px;
}

.navWrapper a.blog.olay:after {
  content: 'coming soon';
  color: #fff;
  top: initial;
  left: 30px;
  bottom: initial;
  right: initial;
}