.navigationBar.navbar {
  border-radius: 0;
  background-color: #fff;
  border: none;
  margin: 0;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 1px 0px 1px;
}

.navigationBar .navbar-header {
  font-weight: 100;
  line-height: 16px;
  padding: 11px 0 11px 60px;
}

.navigationBar .navbar-header a.navLogo {
  color: #000;
}

.navigationBar .navbar-header a.navLogo:active,
.navigationBar .navbar-header a.navLogo:visited,
.navigationBar .navbar-header a.navLogo:focus {
  text-decoration: none;
}

span.simply {
  font-size: 16px;
}

span.way {
  font-size: 16px;
}

.navLinks {
  list-style: none;
  padding: 0;
  margin: 15px 0;
}

.navLinks li {
  display: inline-block;
  padding: 10px;
}

.navLinks li a {
  color: #000;
  text-transform: lowercase;
  font-weight: 100;
}

.overlay ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.overlay li {
  padding: 0;
  margin: 0;
}

.navWrapper .navigationBar .button {
  z-index: 999;
  position: relative;
  display: none;
}

.navigationBar .button a {
  text-decoration: none;
}

.navigationBar .btn-open:after {
  content: "\f0c9";
  font-family: "FontAwesome";
}

.navigationBar .btn-close:after {
  content: "\f00d";
  font-family: "FontAwesome";
}

.navWrapper .overlay {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: #333;
  overflow: auto;
  z-index: 99;
}

.navWrapper .overlay .wrap {
  color:#e9e9e9;
  text-align: left;
  max-width: 90%;
  margin: 0 auto;
}

.navWrapper .overlay .wrap ul.wrap-nav {
  text-transform: capitalize;
  padding: 150px 0 100px;
}

.navWrapper .overlay .wrap ul.wrap-nav li {
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
  width: 24%;
  position: relative;
}

.navWrapper .overlay .wrap ul.wrap-nav li a {
  color: #fff;
  display: block;
  text-decoration: none;
}

.navWrapper .overlay .wrap ul.wrap-nav ul {
  padding: 20px 0;
}

.navWrapper .overlay .wrap ul.wrap-nav ul li {
  display: block;
  font-size: 18px;
  width: 100%;
  color:#e9e9e9;
}

.navWrapper .overlay .wrap ul.wrap-nav ul li a,
.navWrapper .overlay .wrap ul.wrap-nav li .contactInfo a.email {
  color: #fff;
  transition: all .2s linear 0s;
  -moz-transition: all .2s linear 0s;
  -webkit-transition: all .2s linear 0s;
  -o-transition: all .2s linear 0s;
  display: inline-block;
}

.navWrapper .overlay .social {
  font-size: 25px;
  padding: 20px;
}

.navWrapper .overlay .social p {
  margin: 0;
  padding: 20px 0 5px 0;
  line-height: 30px;
  font-size: 13px;
}

.navWrapper .overlay .social p a {
  color:#34B484;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.navWrapper .overlay .social .social-icon {
  width: 80px;
  height: 50px;
  background:#e9e9e9;
  color: #333;
  display: inline-block;
  margin: 0 20px;
}

.navWrapper .overlay .social .social-icon i {
  margin-top: 12px;
}

a.navLogo img.img-responsive {
  width: 80px;
}

.navWrapper .overlay .closeOverlay {
  color: #fff;
  position: absolute;
  right: 15px;
  padding: 10px;
  top: 15px;
  z-index: 9999;
}

.navWrapper .contactInfo {
  color: #fff;
  font-size: 13px;
  padding-top: 20px;
}

.navWrapper .desktop {
  padding-right: 60px;
}

.navWrapper .overlay .linkTitle {
  color: #fff;
  text-decoration: underline;
  font-size: 24px;
}

.navWrapper .navLinks a {
  -webkit-transition: color .14s 0s ease-in-out;
  -moz-transition: color .14s 0s ease-in-out;
  -ms-transition: color .14s 0s ease-in-out;
  -o-transition: color .14s 0s ease-in-out;
  transition: color .14s 0s ease-in-out;
}

.navWrapper .navigationBar .navLogo span.name {
  font-weight: 600;
  color: rgba(145,56,63,1);
}

.navWrapper .overlay .wrap ul.wrap-nav li span.phoneMobile a {
  display: none;
}

.navWrapper .overlay .wrap .wrap-nav li.about {
  /*-webkit-animation-duration: 3s;*/
  -webkit-animation-delay: .2s;
}

.navWrapper .overlay .wrap .wrap-nav li.services {
  /*-webkit-animation-duration: 3s;*/
  -webkit-animation-delay: .4s;
}

.navWrapper .overlay .wrap .wrap-nav li.contact {
  /*-webkit-animation-duration: 3s;*/
  -webkit-animation-delay: .6s;
}

.navWrapper .overlay .wrap .social {
  /*-webkit-animation-duration: 3s;*/
  -webkit-animation-delay: .8s;
}

@media screen and (max-width: 48em) {
  .navWrapper .overlay .wrap ul.wrap-nav > li {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #575757;
  }

  .navWrapper .overlay .wrap ul.wrap-nav {
    padding: 30px 0 0;
  }

  .navWrapper .overlay .social {
    color:#c1c1c1;
    font-size: 25px;
    padding: 35px 0;
    text-align: center;
  }

  .navWrapper .overlay .social .social-icon {
    width: 65px;
    height: 50px;
    background: #fff;
    color: #333;
    display: inline-block;
    margin: 5px 20px 5px 0;
  }

  .navWrapper .overlay .social .social-icon.one {
    position: relative;
    top: 5px;
  }

  .navWrapper .overlay .social .social-icon.two {
    position: relative;
    top: -5px;
  }
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* scrolltop button */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
.navWrapper .scrollTop {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 44px;
  height: 44px;
  text-decoration: none;
  padding: 0;
  color: #e7e6f1;
  background: #737373;
  border: none;
  border-radius: 100%;
  -webkit-transform: translate(0, 80px);
  -webkit-transform: translate3d(0, 80px, 0);
  -ms-transform: translate(0, 80px);
  -ms-transform: translate3d(0, 80px, 0);
  transform: translate(0, 80px);
  transform: translate3d(0, 80px, 0);
  transition: transform 0.2s ease-in;
  opacity: 0.7;
  z-index: 11;
}

.navWrapper .scrollTop.show-button {
  -webkit-transform: translate(0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate(0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* navbar show/hide effect */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
.navWrapper .headroom {
  will-change: transform;
  transition: transform 200ms linear;
  font-size: 16px;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* nav dropdowns */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
.navWrapper .folder {
  position: relative;
}

.navWrapper .subnav {
  background-color: #bdbdbd;
  text-align: left;
  padding: 1em 0;
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0.3em;
  z-index: 1000;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: -webkit-transform .14s 0s ease-in-out;
  -moz-transition: -moz-transform .14s 0s ease-in-out;
  -ms-transition: -ms-transform .14s 0s ease-in-out;
  -o-transition: -o-transform .14s 0s ease-in-out;
  transition: transform .14s 0s ease-in-out;
}

.navWrapper .folder .subnav > div {
  opacity: 0;
  padding: 0;
  -webkit-transition: opacity .05s 0s ease-in-out;
  -moz-transition: opacity .05s 0s ease-in-out;
  -o-transition: opacity .05s 0s ease-in-out;
  -ms-transition: opacity .05s 0s ease-in-out;
  transition: opacity .05s 0s ease-in-out;
}

.navWrapper .folder .subnav > div a {
  display: block;
  padding: .5em 1.5em;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  font-weight: 100;
  font-style: normal;
  font-size: 15px;
  letter-spacing: 0;
  text-transform: lowercase;
  text-decoration: none;
  line-height: 1em;
  color: #fff;
  white-space: nowrap;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* hover responsiveness */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media all and (min-width: 800px) {
  .navigationBar .navbar-header a.navLogo:hover {
    text-decoration: none;
  }

  .navigationBar .btn-open:hover:after {
    color: #9c9999;
  }

  .navigationBar .btn-close:hover:after {
    color: #34B484;
  }

  .navWrapper .overlay .wrap ul.wrap-nav li a:hover {
    color:#f0f0f0;
  }

  .navWrapper .overlay .wrap ul.wrap-nav ul li a:hover,
  .navWrapper .overlay .wrap ul.wrap-nav li .contactInfo a.email:hover {
    color: #9c9999;
  }

  .navWrapper .overlay .social a:hover {
    text-decoration: none;
  }

  .navWrapper .overlay .social .social-icon:hover {
    background: rgba(145,56,63,1);
    color:#f0f0f0;
  }

  .navWrapper .navLinks a:hover,
  .navWrapper .folder .subnav > div a:hover {
    text-decoration: none;
    color: #9c9999;
  }

  .navWrapper .overlay .closeOverlay:hover {
    color: #9c9999;
  }

  .navWrapper .folder:hover .subnav {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  .navWrapper .folder:hover .subnav > div {
    opacity: 1;
    -webkit-transition: opacity .14s .14s ease-in-out;
    -moz-transition: opacity .14s .14s ease-in-out;
    -ms-transition: opacity .14s .14s ease-in-out;
    -o-transition: opacity .14s .14s ease-in-out;
    transition: opacity .14s .14s ease-in-out;
  }
}