/* for footer on desktop */
#portfolio {
  margin-bottom: 355px;
  padding-bottom: 25px;
  background-color: #fff;
}

#portfolio h1 {
  color: rgba(145,56,63,1);
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* header */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
#portfolio .headerImage {
  background: url("http://lorempixel.com/1000/600/animals"), url("../images/subtle patterns/crossword.png");
  min-height: 40em;
  background-position: 0 0, 0px 0;
  background-repeat: no-repeat, repeat;
  background-size: contain;
}

#portfolio h1.title {
  display: inline-block;
  z-index: 9;
  position: absolute;
  top: 30%;
  right: 3%;
  text-align: center;
  color: rgba(145,56,63,0.5);
  text-transform: uppercase;
  font-size: 5em;
}

#portfolio h1.title span.thin {
  font-weight: 100;
  background-color: rgba(189,189,189,0.5);
  padding: 0 10px;
  letter-spacing: 10px;
}

#portfolio h1.title span.fat {
  font-weight: 100;
  background-color: rgba(0,0,0,0.3);
  padding: 0 10px;
  letter-spacing: 10px;
  position: relative;
  top: 25px;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* portfolio */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
#portfolio .contentWrapper {
  position: relative;
  background: #fff;
  z-index: 1;
}

#portfolio .portfolio h1.one {
  padding: 45px 0 10px;
  color: #fff;
  background-color: rgba(145,56,63,1);
  margin-top: 0;
}

#portfolio .portfolio h1.two {
  margin-top: 10px;
}

#portfolio .portfolio .headerQuote {
  padding: 0;
}

#portfolio .portfolio .separator.small {
  margin: 25px 0 45px;
  width: 50%;
}

#portfolio .portfolio .separator.small.center {
  margin: 25px auto 45px;
  width: 22px;
}

#portfolio .portfolio .container .row {
  padding: 25px 25px 19px 14px;
  background-color: #e6e6e6;
  margin-bottom: 30px;
}

#portfolio .portfolio .portfolioSectionWrapper.one {
  text-align: right;
}

#portfolio .portfolio .portfolioSectionWrapper.one .separator.small {
  float: right;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* storage ideas */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* ---- grid ---- */
#portfolio .storageIdeas .grid {
  margin: 0 auto;
}

/* clearfix */
#portfolio .storageIdeas .grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */
#portfolio .storageIdeas .grid-item {
  width: 300px;
  float: left;
  padding: 10px;
}

#portfolio .storageIdeas .text {
  padding: 10px;
}

#portfolio .storageIdeas .columnWidth {
  width: 300px;
}

#portfolio .storageIdeas .innerWrapper img {
  border-radius: 10px;
}

#portfolio .storageIdeas .innerWrapper img,
#portfolio .storageIdeas .text {
  position: relative;
  z-index: -1;
}

#portfolio .storageIdeas .grid-item:hover::before {
  -webkit-animation: tapAnimation 0.25s cubic-bezier(0.31, 1, 0.34, 1) forwards;
  animation: tapAnimation 0.25s cubic-bezier(0.31, 1, 0.34, 1) forwards;
}

#portfolio .storageIdeas .grid-item::before {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  content: '' !important;
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transform: scale(0.96);
  transform: scale(0.96);
  z-index: 3;
}

@keyframes tapAnimation {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.96);
    transform: scale(0.96);
  }
  
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* storage ideas overlay */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 34em) {
  #portfolio .overlay {
    font-size: 90%;
  }
  
  #portfolio .overlay .overlay-close {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

/* style5 css */
/* Overlay style */
#portfolio .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}

/* Overlay closing cross */
#portfolio .overlay .overlay-close {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(https://tympanus.net/Development/FullscreenOverlayStyles/img/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
}

/* Effects */
#portfolio .overlay-scale {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  z-index: 99;
}

#portfolio .overlay-scale.storageIdeasOverlayOpen {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: -webkit-transform 0.4s, opacity 0.4s;
}

#portfolio .overlay-scale img.img-responsive.currentImage {
  margin: 0 auto;
}

#portfolio .overlay-scale img.img-responsive.img1 {
  width: 55%;
}

#portfolio .overlay-scale .ion-ios-arrow-left,
#portfolio .overlay-scale .ion-ios-arrow-right {
  color: #fff;
  font-size: 50px;
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}

#portfolio .overlay-scale .ion-ios-arrow-right {
  right: 50px;
}

#portfolio .overlay-scale .ion-ios-arrow-left {
  left: 50px;
}

#portfolio .overlay-scale .text {
  color: #fff;
  width: 30%;
  margin: 0 auto;
}

#portfolio .overlay-scale .text a {
  color: #fff;
}

#portfolio .overlay-scale .innerWrapper {
  position: relative;
  top: 12%;
}