#rates {
  margin-bottom: 347px;
}

#rates h1 {
  color: rgba(145,56,63,1);
}

#rates .contentWrapper {
  position: relative;
  background: #fff;
  z-index: 1;
  padding: 25px 0;
}

#rates .separator.small {
  margin: 25px 0 45px;
  width: 50%;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* header */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
#rates .headerImage {
  /*background: url("../images/new/Yarn.jpg"), url("../images/subtle patterns/crossword.png");*/
  min-height: 40em;
  background-position: 0 40px, 0px 0;
  background-repeat: no-repeat, repeat;
  background-size: 65%;
}

#rates h1.title {
  display: inline-block;
  z-index: 9;
  position: absolute;
  top: 40%;
  right: 3%;
  text-align: center;
  color: rgba(145,56,63,0.5);
  text-transform: uppercase;
  font-size: 5em;
}

#rates h1.title span.thin {
  font-weight: 100;
  background-color: rgba(189,189,189,0.7);
  padding: 0 10px;
  letter-spacing: 10px;
}

#rates h1.title span.fat {
  font-weight: 100;
  background-color: rgba(0,0,0,0.3);
  padding: 0 10px;
  letter-spacing: 10px;
  position: relative;
  top: 25px;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* rates */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
#rates .rates img.img-responsive.hangers {
  width: 63%;
  margin: 0 auto;
}