#rates {
  margin-bottom: 500px;
}

#rates .contentWrapper {
  position: relative;
  background: #fff;
  z-index: 1;
  padding: 25px 0 0;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* header */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
#rates .headerImage {
  background-image: url("https://static.wixstatic.com/media/0832c6_58aedff45f674eed968f900e800d8308.jpg/v1/fill/w_516,h_516,al_c,q_80,usm_0.66_1.00_0.01/0832c6_58aedff45f674eed968f900e800d8308.webp");
  min-height: 40em;
  background-position: 0 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
}

#rates h1.title {
  display: inline-block;
  z-index: 9;
  position: absolute;
  top: 30%;
  /*left: 0;*/
  right: 12%;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 5em;
}

#rates h1.title span.thin {
  font-weight: 100;
  background-color: rgba(0,0,0,0.3);
  padding: 0 10px;
  letter-spacing: 10px;
}

#rates h1.title span.fat {
  font-weight: 100;
  background-color: rgba(0,0,0,0.3);
  padding: 0 10px;
  letter-spacing: 10px;
  position: relative;
  top: 25px;
}