/* for footer on desktop */
#resources {
  margin-bottom: 347px;
  background-color: #fff;
}

#resources h1,
#resources b {
  color: rgba(145,56,63,1);
}

#resources .contentWrapper {
  position: relative;
  background: #fff;
  z-index: 1;
  padding: 25px 0 0;
}

#resources .organizingResources .separator.small {
  margin: 25px auto 45px;
  width: 22px;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* header */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
#resources .headerImage {
  background: url("../images/new/Containers.jpg"), url("../images/subtle patterns/crossword.png");
  min-height: 40em;
  background-position: 0 0, 0px 0;
  background-repeat: no-repeat, repeat;
  background-size: contain;
}

#resources h1.title {
  display: inline-block;
  z-index: 9;
  position: absolute;
  top: 30%;
  right: 3%;
  text-align: center;
  color: rgba(145,56,63,0.5);
  text-transform: uppercase;
  font-size: 5em;
}

#resources h1.title span.thin {
  font-weight: 100;
  background-color: rgba(189,189,189,0.7);
  padding: 0 10px;
  letter-spacing: 10px;
}

#resources h1.title span.fat {
  font-weight: 100;
  background-color: rgba(0,0,0,0.3);
  padding: 0 10px;
  letter-spacing: 10px;
  position: relative;
  top: 25px;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* organizing resources */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
#resources .organizingResources img.drawer {
  margin: 0 auto;
}

#resources .organizingResources img.remoov {
  width: 100%;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* helpful books */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
#resources .helpfulBooks img {
  width: 225px;
  margin: 0 auto;
}

#resources .helpfulBooks .row.redBg {
  background-color: rgba(145,56,63,1);
  color: #fff;
}

#resources .helpfulBooks .booksWrapper .textWrapper {
  width: 95%;
}

#resources .helpfulBooks .booksWrapper .transform {
  transform: translateY(50%);
}

#resources .helpfulBooks .booksWrapper b.white {
  color: #fff;
}

#resources .helpfulBooks .booksWrapper .mobile {
  display: none;
}

#resources .helpfulBooks .booksWrapper p {
  margin: 0;
}