@media screen and (max-width: 950px) {
  #home .headerImage {
    background-position: center;
  }
}

@media screen and (max-width: 800px) {
  .navWrapper .navigationBar .button {
    display: inline-block;
  }

  .navWrapper .navigationBar .desktop {
    display: none;
  }

  .navigationBar .navbar-header {
    display: inline-block;
  }

  .navWrapper .navigationBar .navLinks {
    float: right;
  }
}

@media screen and (max-width: 767px) {
  #home .card {
    display: block;
    margin: 20px auto;
  }

  #home .card.right {
    float: none;
  }
}