@media screen and (max-width: 950px) {
  #home .headerImage {
    background-position: center;
  }
}

@media screen and (max-width: 800px) {
  .navWrapper .navigationBar .button {
    display: inline-block;
  }

  .navWrapper .navigationBar .desktop {
    display: none;
  }

  .navigationBar .navbar-header {
    display: inline-block;
  }

  .navWrapper .navigationBar .navLinks {
    float: right;
  }
}

@media screen and (max-width: 767px) {
  #home .card {
    display: block;
    margin: 20px auto;
  }

  #home .card.right {
    float: none;
  }
}

@media screen and (max-width: 500px) {
  #home h1 {
    font-size: 25px;
  }

  #home .about p {
    font-size: 14px;
  }

  h1 + h4 {
    font-size: 16px;
  }

  #home .whiteWrapper, #home .whiteWrapper .separator.small {
    padding: 0 15px;
  }
}

@media screen and (max-width: 400px) {
  #home h1.title {
    top: 35%;
    font-size: 4em;
  }
}