@media screen and (max-width: 1315px) {
  #home .headerImage,
  #services .headerImage {
    background-position: center;
    background-size: cover;
  }

  #home h1.title,
  #services h1.title {
    left: 0;
    right: 0;
  }
}

@media (min-width: 1200px) and (max-width: 1300px) {
  #home .services ul {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  #home .companies img {
    max-width: 20%;
  }

  #home section.services img.remoov {
    max-width: 50%;
  }

  #home section.services .flowerWrapper img {
    width: 25%;
    top: -20px;
  }

  #home section.services {
    padding-bottom: 45px;
  }
}

@media screen and (max-width: 1100px) {
  #home .spacerImage {
    min-height: 40em;
  }

  footer img.img-responsive.remoov {
    width: 75%;
  }
}

@media screen and (max-width: 992px) {
  #services .services ul {
    width: 100%;
  }

  #services img {
    margin: 25px auto;
  }

  #home section.services .flowerWrapper img {
    width: 35%;
  }
}

@media screen and (max-width: 950px) {
  #home .spacerImage {
    margin: 0;
    background-position: center;
  }

  #home .spacerImage.desktop {
    display: none;
  }

  #home .img-responsive.forMobile {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .navWrapper .navigationBar .button {
    display: inline-block;
  }

  .navWrapper .navigationBar .desktop {
    display: none;
  }

  .navigationBar .navbar-header {
    display: inline-block;
  }

  .navWrapper .navigationBar .navLinks {
    float: right;
  }

  .navigationBar .navbar-header {
    padding: 11px 0 11px 25px;
  }
}

@media screen and (max-width: 768px) {
  #home .card {
    display: block;
    margin: 20px auto;
  }

  #home .card.right {
    float: none;
  }

  #home .companies img {
    max-width: 25%;
  }

  #home section.services img.remoov {
    max-width: 80%;
  }

  #services {
    margin-bottom: 0;
  }

  footer .separator.small {
    display: none;
  }

  footer .overlay .social {
    float: none;
    padding: 35px 0;
  }

  footer .social li {
    width: 65px;
    margin: 0 20px 0 0;
  }

  footer .overlay .social .social-icon {
    width: 100%;
  }

  #home section.services .flowerWrapper img {
    width: 45%;
  }
}

/*@media screen and (max-width: 650px) {
  #home section.services .flowerWrapper img {
    width: 40%;
  }
}*/

@media screen and (max-width: 575px) {
  #home .companies img {
    max-width: 30%;
  }

  #home section.services .flowerWrapper img {
    width: 55%;
  }
}

@media screen and (max-width: 500px) {
  #home h1 {
    font-size: 25px;
  }

  #home .about p {
    font-size: 14px;
  }

  h1 + h4 {
    font-size: 16px;
  }

  #home .headerImage {
    background-image: url(../images/Single Red Flower.jpg);
    min-height: 40em;
    background-repeat: no-repeat; 
    background-size: cover;
  }

  #home .testimonial-quote {
    font-size: 20px;
  }

  /*footer .overlay .wrap ul.wrap-nav li a.linkCategoryTitle {
    font-size: 28px;
  }

  footer .overlay .wrap ul.wrap-nav ul li a {
    font-size: 18px;
  }

  footer .contactInfo {
    font-size: 18px;
  }*/

  footer .overlay .social .social-icon {
    margin: 0 10px;
  }
}

@media screen and (max-width: 450px) {
  #home .services ul {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  #home h1.title {
    top: 35%;
    font-size: 4em;
  }

  #home .companies img {
    max-width: 50%;
  }

  #home section.services .flowerWrapper img {
    width: 100%;
    top: 0;
  }

  footer .overlay .wrap ul.wrap-nav li span.phoneMobile a,
  .navWrapper .overlay .wrap ul.wrap-nav li span.phoneMobile a {
    display: block;
  }

  footer .overlay .wrap ul.wrap-nav li span.phoneDesktop,
  .navWrapper .overlay .wrap ul.wrap-nav li span.phoneDesktop {
    display: none;
  }

  .navWrapper .overlay .wrap ul.wrap-nav ul li a {
    font-size: 18px;
    padding: 1px 0;
  }

  .navWrapper .overlay .wrap ul.wrap-nav li .contactInfo {
    font-size: 18px;
  }

  footer .contactInfo {
    margin-top: 20px;
  }

  footer .overlay .wrap ul.wrap-nav li a.linkCategoryTitle {
    font-size: 24px;
  }

  footer .overlay .wrap ul.wrap-nav ul li a,
  footer .overlay .wrap ul.wrap-nav li .contactInfo {
    font-size: 18px;
    padding: 1px 0;
  }
}