/* for footer on desktop */
#services {
  margin-bottom: 347px;
  padding-bottom: 25px;
  background-color: #fff;
}

#services h1 {
  color: rgba(145,56,63,1);
}
/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* header */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* new header style */
#services .noPadding {
  padding: 0;
}

#services .noPadding img {
  margin: 0;
  height: 701px;
}
/* end new header style */

#services .headerImage {
  background: url("../images/new/Living Space.jpg"), url("../images/subtle patterns/crossword.png");
  min-height: 40em;
  background-position: 0 0, 0px 0;
  background-repeat: no-repeat, repeat;
  background-size: contain;
}

#services h1.title {
  display: inline-block;
  z-index: 9;
  position: absolute;
  top: 30%;
  right: 3%;
  text-align: center;
  color: rgba(145,56,63,0.5);
  text-transform: uppercase;
  font-size: 5em;
}

#services h1.title span.thin {
  font-weight: 100;
  background-color: rgba(189,189,189,0.7);
  padding: 0 10px;
  letter-spacing: 10px;
}

#services h1.title span.fat {
  font-weight: 100;
  background-color: rgba(0,0,0,0.3);
  padding: 0 10px;
  letter-spacing: 10px;
  position: relative;
  top: 25px;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* services */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
#services .services .separator.small {
  margin: 25px auto 45px;
  width: 22px;
}

#services .services ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  width: 45%;
}

#services .services ul li {
  display: inline-block;
  border-radius: 40px;
  border: 1px solid rgba(145,56,63,1);
  color: rgba(145,56,63,1);
  background-color: #fff;
  margin: 0 10px 10px 0;
  padding: 9px 23px;
  font-size: 18px;
}

#services section.services.text-center {
  margin-bottom: 35px;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* residential home organizing */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
#services .contentWrapper {
  position: relative;
  background: #fff;
  z-index: 1;
  padding: 25px 0 0;
}

#services .separator.small {
  margin: 25px 0 45px;
  width: 50%;
}

#services img {
  margin: 25px 0;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* time and project management */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
#services .timeAndProjectManagement .headerWrapper h1,
#services .timeAndProjectManagement .headerWrapper h4,
#services .timeAndProjectManagement .headerWrapper .separator.small {
  float: right;
}

#services .timeAndProjectManagement .headerWrapper h4 {
  margin: 0;
}

#services .timeAndProjectManagement .mobile {
  display: none;
}