*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: Lucida Console, Monaco, DejaVu Sans Mono, Bitstream Vera Sans Mono, monospace;
  height: 100%;
  min-width: 100%;
}

.demo img {
  max-width: 20%;
}

.demo {
  color: #555;
  height: 100%;
  min-height: 10rem;
  padding-top: 200px;
}
.demo__card {
  padding: 1rem 1rem 3rem;
  text-align: center;
}
.demo__title small {
  display: block;
  font-size: 70%;
}
.demo__slides {
  margin-top: 2rem;
  height: 20rem;
}
.demo__slide {
  height: 100%;
  text-align: center;
  width: 100%;
}

.flickity-page-dots {
  bottom: -150px;
}