.btn-blue {
  background-color: #fff;
  color: #000;
  border-color: #000;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue.focus,
.btn-blue:active,
.btn-blue.active,
.open > .dropdown-toggle.btn-blue {
  border-color: #33505b;
}

.btn-blue:active,
.btn-blue.active,
.open > .dropdown-toggle.btn-blue {
  background-image: none;
}

.btn-blue.disabled,
.btn-blue[disabled],
fieldset[disabled] .btn-blue,
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled] .btn-blue:focus,
.btn-blue.disabled.focus,
.btn-blue[disabled].focus,
fieldset[disabled] .btn-blue.focus,
.btn-blue.disabled:active,
.btn-blue[disabled]:active,
fieldset[disabled] .btn-blue:active,
.btn-blue.disabled.active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue.active {
  border-color: #4c7889;
}

[ta-button] {
  height: 44px;
  margin-bottom: 15px;
}

.red{ color: red; }

.btn-group-vertical>.btn, .btn-group>.btn {
  height: 46px;
}

#toolbarWC,
#toolbarCC {
  line-height: 35px;
}

.ta-scroll-window > .ta-bind:focus,
.ta-root.focussed > .ta-scroll-window.form-control {
  outline: none;
  border-color: rgba(145,57,64,1);
  box-shadow: none;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 4px;
  background-color: transparent;
  border: none;
  box-shadow: none;
}