<footer>
  <div class="overlay">
    <div class="wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="wrap-nav">
              <li>
                <a class="linkCategoryTitle" href="#">About</a>
                <ul class="linksWrapper">
                  <li>
                    <a ui-sref="about">Wendy</a>
                  </li>
                  <li>
                    <a ui-sref="portfolio">Portfolio</a>
                  </li>
                  <li>
                    <a ui-sref="what-is-an-organizer">What is an Organizer?</a>
                  </li>
                  <li>
                    <a class="blog" href="#">Blog</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="linkCategoryTitle" href="#">Services</a>
                <ul class="linksWrapper">
                  <li>
                    <a ui-sref="services">Services</a>
                  </li>
                  <li>
                    <a ui-sref="rates">Rates</a>
                  </li>
                  <li>
                    <a ui-sref="donations">Donations</a>
                  </li>
                  <li>
                    <a ui-sref="resources">Resources</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="linkCategoryTitle footerContact" ui-sref="contact">Contact</a>
                <div class="contactInfo">
                  <p>
                    Wendy C. Quaccia, Bay Area, CA<br>
                    Professional Organizer<br>
                    <span class="phoneMobile"><a href="tel:6507464226">(650) 746-4226<br></a></span>
                    <span class="phoneDesktop">(650) 746-4226<br></span>
                    <a class="email" href="mailto:info@simplyputyourway.net">info@simplyputyourway.net</a>
                  </p>
                </div>
              </li>
              <li>
                <a class="linkCategoryTitle" href="#">Proud Consultant of</a>
                <a href="http://remoovit.com" target="_blank">
                  <img src="../images/Remoov Logo.gif" alt="Remoov" class="img-responsive remoov">
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="separator small"></div>
            
            <ul class="social">
              <li>
                <a href="https://www.facebook.com/simplyput.yourway" target="_blank">
                  <div class="social-icon one">
                    <i class="fa fa-facebook"></i>
                  </div>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/SmplyPutYourWay" target="_blank">
                  <div class="social-icon two">
                    <i class="fa fa-twitter"></i>
                  </div>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/wendyquaccia" target="_blank">
                  <div class="social-icon one">
                    <i class="fa fa-linkedin"></i>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>