<footer>
  <div class="overlay">
    <div class="wrap">
      <ul class="wrap-nav">
        <li>
          <a href="#">About</a>
          <ul>
            <li>
              <a href="#">About Company</a>
            </li>
            <li>
              <a href="#">Designers</a>
            </li>
            <li>
              <a href="#">Developers</a>
            </li>
            <li>
              <a href="#">Pets</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Services</a>
          <ul>
            <li>
              <a href="#">Web Design</a>
            </li>
            <li>
              <a href="#">Development</a>
            </li>
            <li>
              <a href="#">Apps</a>
            </li>
            <li>
              <a href="#">Graphic Design</a>
            </li>
            <li>
              <a href="#">Branding</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Work</a>
          <ul>
            <li>
              <a href="#">Web</a>
            </li>
            <li>
              <a href="#">Graphic</a>
            </li>
            <li>
              <a href="#">Apps</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="social">
        <a href="#">
          <div class="social-icon one">
            <i class="fa fa-facebook"></i>
          </div>
        </a>
        <a href="#">
          <div class="social-icon two">
            <i class="fa fa-twitter"></i>
          </div>
        </a>
        <a href="#">
          <div class="social-icon one">
            <i class="fa fa-pinterest-p"></i>
          </div>
        </a>
        <a href="#">
          <div class="social-icon two">
            <i class="fa fa-google-plus"></i>
          </div>
        </a>
        <div class="contactInfo">
          <p>Wendy C. Quaccia, Bay Area, CA<br>Professional Organizer<br>650-746-4226<br>info@simplyputyourway.net</p>
          <hr>
          <p class="license">License # 18306</p>
        </div>
      </div>
    </div>
  </div>
</footer>