<footer>
  <div class="overlay">
    <div class="wrap">
      <ul class="wrap-nav">
        <li>
          <a class="linkCategoryTitle" href="#">About</a>
          <ul class="linksWrapper">
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
            <li>
              <a href="#">Portfolio</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="linkCategoryTitle" href="#">Services</a>
          <ul class="linksWrapper">
            <li>
              <a href="#">Services</a>
            </li>
            <li>
              <a href="#">Rates</a>
            </li>
            <li>
              <a href="#">What is an Organizer</a>
            </li>
            <li>
              <a href="#">Resources</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="linkCategoryTitle" href="#">Tips</a>
          <ul class="linksWrapper">
            <li>
              <a href="#">Kids Ready for School?</a>
            </li>
            <li>
              <a href="#">Time Management Strategies</a>
            </li>
            <li>
              <a href="#">Prepare for a Move</a>
            </li>
            <li>
              <a href="#">Enjoy the Holidays</a>
            </li>
            <li>
              <a href="#">Donations</a>
            </li>
            <li>
              <a href="#">Tips</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="social">
        <a href="#">
          <div class="social-icon one">
            <i class="fa fa-facebook"></i>
          </div>
        </a>
        <a href="#">
          <div class="social-icon two">
            <i class="fa fa-twitter"></i>
          </div>
        </a>
        <a href="#">
          <div class="social-icon one">
            <i class="fa fa-pinterest-p"></i>
          </div>
        </a>
        <a href="#">
          <div class="social-icon two">
            <i class="fa fa-google-plus"></i>
          </div>
        </a>
        <div class="contactInfo">
          <p>Wendy C. Quaccia, Bay Area, CA<br>Professional Organizer<br>650-746-4226<br>info@simplyputyourway.net</p>
          <hr>
          <p class="license">License # 18306</p>
        </div>
      </div>
    </div>
  </div>
</footer>