<div class="navWrapper" ng-controller="NavbarCtrl">
  <nav class="navigationBar navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navLogo" href="#">
          <!-- <span class="simply">Simply</span><br><span class="putYour">Put Your</span><br><span class="way">Way</span> -->
          <img src="https://static.wixstatic.com/media/0832c6_a16eeed310bf4033b478412c064cd00c.jpg/v1/fill/w_458,h_354,al_c,lg_1,q_80/0832c6_a16eeed310bf4033b478412c064cd00c.webp" class="img-responsive" alt="">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="navLinks navbar-right">
        <div class="desktop">
          <li><a href="#">Home</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Rates</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">What is an Organizer</a></li>
          <li><a href="#">Resources</a></li>
          <li><a href="#">More</a></li>
        </div>
        <li class="button"><a href="#" class="btn-open"></a></li>
      </ul>
    </div><!-- /.container-fluid -->
  </nav>

  <div class="overlay">
    <div class="wrap">
      <ul class="wrap-nav">
        <li>
          <a href="#">About</a>
          <ul>
            <li>
              <a href="#">About Company</a>
            </li>
            <li>
              <a href="#">Designers</a>
            </li>
            <li>
              <a href="#">Developers</a>
            </li>
            <li>
              <a href="#">Pets</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Services</a>
          <ul>
            <li>
              <a href="#">Web Design</a>
            </li>
            <li>
              <a href="#">Development</a>
            </li>
            <li>
              <a href="#">Apps</a>
            </li>
            <li>
              <a href="#">Graphic Design</a>
            </li>
            <li>
              <a href="#">Branding</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Work</a>
          <ul>
            <li>
              <a href="#">Web</a>
            </li>
            <li>
              <a href="#">Graphic</a>
            </li>
            <li>
              <a href="#">Apps</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="social">
        <a href="#">
          <div class="social-icon one">
            <i class="fa fa-facebook"></i>
          </div>
        </a>
        <a href="#">
          <div class="social-icon two">
            <i class="fa fa-twitter"></i>
          </div>
        </a>
        <a href="#">
          <div class="social-icon one">
            <i class="fa fa-codepen"></i>
          </div>
        </a>
        <a href="#">
          <div class="social-icon two">
            <i class="fa fa-behance"></i>
          </div>
        </a>
        <p>
          Simply Put Your Way &copy; 2017
        </p>
      </div>
    </div>
  </div>

  <a ng-click="scrollToTop();" role="button" class="scrollTop">
    <i class="ion-ios-arrow-up"></i>
  </a>
</div>