<div class="navWrapper" ng-controller="NavbarCtrl">
  <nav class="navigationBar navbar navbar-default headroom">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navLogo" ui-sref="home" ng-click="scrollToTop();">
          <span class="name">Wendy C. Quaccia</span><br> Professional Organizer<br> <span class="tagline">Serving communities along the Peninsula</span>
          <!-- <img src="https://static.wixstatic.com/media/0832c6_a16eeed310bf4033b478412c064cd00c.jpg/v1/fill/w_458,h_354,al_c,lg_1,q_80/0832c6_a16eeed310bf4033b478412c064cd00c.webp" class="img-responsive" alt=""> -->
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="navLinks navbar-right">
        <div class="desktop">
          <li><a ui-sref="home">Home</a></li>
          <li class="folder">
            <a class="folder-toggle" href="#">About</a>
            <div class="subnav">
              <div class="external">
                <a ui-sref="about">Wendy</a>
              </div>
              <div class="external">
                <a ui-sref="portfolio">Portfolio</a>
              </div>
              <div class="external">
                <a ui-sref="what-is-an-organizer">What is an Organizer?</a>
              </div>
            </div>
          </li>
          <li class="folder">
            <a class="folder-toggle" href="#">Services</a>
            <div class="subnav">
              <div class="external">
                <a ui-sref="rates">Rates</a>
              </div>
              <div class="external">
                <a ui-sref="donations">Donations</a>
              </div>
              <div class="external">
                <a ui-sref="recycle">Recycle</a>
              </div>
              <div class="external">
                <a ui-sref="resources">Resources</a>
              </div>
              <div class="external">
                <a ui-sref="tips">Tips</a>
              </div>
            </div>
          </li>          
          <li><a ui-sref="blog">Blog</a></li>
          <li><a ui-sref="contact">Contact</a></li>
        </div>
        <li class="button"><a href="#" class="btn-open"></a></li>
      </ul>
    </div><!-- /.container-fluid -->
  </nav>

  <div class="overlay">
    <i class="closeOverlay fa fa-times" aria-hidden="true"></i>
    <div class="wrap">
      <ul class="wrap-nav">
        <li>
          <div class="linkTitle" href="#">About</div>
          <ul>
            <li>
              <a ui-sref="about">Wendy</a>
            </li>
            <li>
              <a ui-sref="portfolio">Portfolio</a>
            </li>
            <li>
              <a ui-sref="what-is-an-organizer">What is an Organizer?</a>
            </li>
            <li>
              <a ui-sref="blog">Blog</a>
            </li>
            <li>
              <a ui-sref="contact">Contact</a>
            </li>
          </ul>
        </li>
        <li>
          <div class="linkTitle" href="#">Services</div>
          <ul>
            <li>
              <a ui-sref="rates">Rates</a>
            </li>
            <li>
              <a href="donations">Donations</a>
            </li>
            <li>
              <a href="recycle">Recycle</a>
            </li>
            <li>
              <a ui-sref="resources">Resources</a>
            </li>
            <li>
              <a href="tips">Tips</a>
            </li>
          </ul>
        </li>
        <li>
          <div class="linkTitle" href="#">Contact</div>
          <div class="contactInfo">
            <p>Wendy C. Quaccia, Bay Area, CA<br>Professional Organizer<br>650-746-4226<br>info@simplyputyourway.net</p>          
          </div>
        </li>
      </ul>
      <div class="social">
        <a href="https://www.facebook.com/simplyput.yourway">
          <div class="social-icon one">
            <i class="fa fa-facebook"></i>
          </div>
        </a>
        <a href="https://twitter.com/SmplyPutYourWay">
          <div class="social-icon two">
            <i class="fa fa-twitter"></i>
          </div>
        </a>
        <a href="https://www.pinterest.com/craftideas88">
          <div class="social-icon one">
            <i class="fa fa-pinterest-p"></i>
          </div>
        </a>
      </div>
    </div>
  </div>

  <a ng-click="scrollToTop();" role="button" class="scrollTop">
    <i class="ion-ios-arrow-up"></i>
  </a>
</div>