<div class="navWrapper" ng-controller="NavbarCtrl">
  <nav class="navigationBar navbar navbar-default headroom">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navLogo" href="#">
          <!-- <span class="simply">Simply</span><br><span class="putYour">Put Your</span><br><span class="way">Way</span> -->
          <img src="https://static.wixstatic.com/media/0832c6_a16eeed310bf4033b478412c064cd00c.jpg/v1/fill/w_458,h_354,al_c,lg_1,q_80/0832c6_a16eeed310bf4033b478412c064cd00c.webp" class="img-responsive" alt="">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="navLinks navbar-right">
        <div class="desktop">
          <li><a href="#">Home</a></li>
          <li class="folder">
            <a class="folder-toggle" href="#">About</a>
            <div class="subnav">
              <div class="external">
                <a href="#">About</a>
              </div>
              <div class="external">
                <a href="#">Contact</a>
              </div>
              <div class="external">
                <a href="#">Portfolio</a>
              </div>
            </div>
          </li>
          <li class="folder">
            <a class="folder-toggle" href="#">Services</a>
            <div class="subnav">
              <div class="external">
                <a href="#">Services</a>
              </div>
              <div class="external">
                <a href="#">Rates</a>
              </div>
              <div class="external">
                <a href="#">What is an Organizer</a>
              </div>
              <div class="external">
                <a href="#">Resources</a>
              </div>
            </div>
          </li>
          <li class="folder">
            <a class="folder-toggle" href="#">Tips</a>
            <div class="subnav">
              <div class="external">
                <a href="#">Kids Ready for School?</a>
              </div>
              <div class="external">
                <a href="#">Time Management Strategies</a>
              </div>
              <div class="external">
                <a href="#">Prepare for a Move</a>
              </div>
              <div class="external">
                <a href="#">Enjoy the Holidays</a>
              </div>
              <div class="external">
                <a href="#">Donations</a>
              </div>
              <div class="external">
                <a href="#">Tips</a>
              </div>
            </div>
          </li>
          <li><a href="#">Contact</a></li>
        </div>
        <li class="button"><a href="#" class="btn-open"></a></li>
      </ul>
    </div><!-- /.container-fluid -->
  </nav>

  <div class="overlay">
    <i class="closeOverlay fa fa-times" aria-hidden="true"></i>
    <div class="wrap">
      <ul class="wrap-nav">
        <li>
          <a href="#">About</a>
          <ul>
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="#">Portolio</a>
            </li>
            <li>
              <a href="#">Developers</a>
            </li>
            <li>
              <a href="#">Pets</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Services</a>
          <ul>
            <li>
              <a href="#">Services</a>
            </li>
            <li>
              <a href="#">Rates</a>
            </li>
            <li>
              <a href="#">Apps</a>
            </li>
            <li>
              <a href="#">Graphic Design</a>
            </li>
            <li>
              <a href="#">Branding</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Tips</a>
          <ul>
            <li>
              <a href="#">Contact</a>
            </li>
            <li>
              <a href="#">Graphic</a>
            </li>
            <li>
              <a href="#">Apps</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="social">
        <a href="#">
          <div class="social-icon one">
            <i class="fa fa-facebook"></i>
          </div>
        </a>
        <a href="#">
          <div class="social-icon two">
            <i class="fa fa-twitter"></i>
          </div>
        </a>
        <a href="#">
          <div class="social-icon one">
            <i class="fa fa-codepen"></i>
          </div>
        </a>
        <a href="#">
          <div class="social-icon two">
            <i class="fa fa-behance"></i>
          </div>
        </a>
        <div class="contactInfo">
          <p>Wendy C. Quaccia, Bay Area, CA<br>Professional Organizer<br>650-746-4226<br>info@simplyputyourway.net</p>
          <hr>
          <p class="license">License # 18306</p>
        </div>
      </div>
    </div>
  </div>

  <a ng-click="scrollToTop();" role="button" class="scrollTop">
    <i class="ion-ios-arrow-up"></i>
  </a>
</div>